interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
    method: GET
    uri: https://00000000000000000000000000000000.0.environment.api.test.powerplatform.com/copilotstudio/minimalBots/api/00000000-0000-0000-0000-000000001111?api-version=2024-10-01
  response:
    body:
      string: '{"botId":"00000000-0000-0000-0000-000000001111","shortBotName":"Employee
        Self-Service HR (Prev","fullBotName":"Employee Self-Service HR (Preview)","outlineIcon":"iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAhTSURBVFhHjZZ9UBTnHcf3j6bTJuMICAGF4+VA3g65QxBN06adVj1qtEljrHiJii3TNL4kiiAqvsRUoiKIgKAgIKJGQUAFTkE97o7jOBEBIy+mpjYNsW0UzFQzsdFUv/09z+4eywU7OeYzu7Pcs/vZ7+97eycE111B8CmRkFNdCDktcaYLk890Y3L9GDQwehAq03gVoUaRsLOMj743grq2E8EckmAyMpLUWGJjynEphiw1IhbGxZ4mcPIynNQwOkVkMaWUq5hrWv9Hiou5ShlJIKiqAwx1tYyr0IiUmNQYaSnEvldaTrkeCIEfOhB4/BICT1xCkIwkFURCjFFSShRpiYm5SElio6SUiZGIKKDkuAxJEWoS8qXjbpVtcK+0w/2[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
    method: GET
    uri: https://00000000000000000000000000000000.0.environment.api.test.powerplatform.com/copilotstudio/minimalBots/alm/00000000-0000-0000-0000-000000001111/configure?api-version=2024-10-01&realm=0
  response:
    body:
      string: '{"realm":"Dev","cdsBotId":"00000000-0000-0000-0000-000000001111","schemaName":"gptagent_copilotforemployeeselfservicehr","grsRepositoryId":"00000000-0000-0000-0000-000000001111","commitSha":"4bc80d2768da5de930fd56a1f5ee815b8f9d1d3b","values":{"botName":"Employee
        Self-Service HR (Preview)","gptDisplayName":"Employee Self-Service HR (Preview)"},"flows":{},"connections":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-cci-botdesignerserver-buildid:
      - 1.2026.917.8
      x-ms-activity-vector:
      - REDACTED
      x-ms-gateway-clusters:
      - REDACTED
      x-ms-igw-tracking-id:
      - REDACTED
      x-ms-islandgateway:
      - REDACTED
      x-ms-ppapigateway:
      - REDACTED
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - REDACTED
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      x-ms-client-name:
      - EssAdk
    method: POST
    uri: https://00000000000000000000000000000000.0.environment.api.test.powerplatform.com/copilotstudio/minimalBots/api/00000000-0000-0000-0000-000000001111/components?api-version=2024-10-01
  response:
    body:
      string: '{"botComponentChanges":[{"$kind":"BotComponentInsert","component":{"$kind":"GlobalVariableComponent","version":1,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2026-09-15T00:39:39.626494Z","modifiedTimeUtc":"2026-09-15T00:39:39.626494Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","schemaName":"gptagent_copilotforemployeeselfservicehr.component.ESS_UserContext_Company_Code","variable":{"$kind":"Variable","name":"ESS_UserContext_Company_Code","scope":"User","isExternalInitializationAllowed":false,"initializationTimeoutInMilliseconds":0,"aIVisibility":"Hidden"}}},{"$kind":"BotComponentInsert","component":{"$kind":"DialogComponent","version":1,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2026-09-15T00:39:39.6225115Z","modifiedTimeUtc":"2026-09-15T00:39:39.6225115Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"displayName":"Mock
        Display Name","id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","schemaName":"gptagent_copilotforemployeeselfservicehr.topic.System-Logger","dialog":{"$kind":"AdaptiveDialog","beginDialog":{"$kind":"OnRedirect","actions":[{"$kind":"LogCustomTelemetryEvent","id":"4ishvf","eventName":{"$kind":"StringExpression","variableReference":"Topic.EventName"},"properties":{"$kind":"ValueExpression","expressionText":"{\n    Message:
        Topic.Message,\n    TimeUTC: Text(Now(), DateTimeFormat.UTC),\n    ConversationId:
        System.Conversation.Id,\n    Channel: System.Activity.ChannelId,\n    AgentId:
        System.Bot.Name\n}","structuredRecordExpression":{"$kind":"StructuredRecordExpression","properties":{"AgentId":{"$kind":"ValueExpression","variableReference":"System.Bot.Name"},"Channel":{"$kind":"ValueExpression","variableReference":"System.Activity.ChannelId"},"ConversationId":{"$kind":"ValueExpression","variableReference":"System.Conversation.Id"},"Message":{"$kind":"ValueExpression","variableReference":"Topic.Message"},"TimeUTC":{"$kind":"ValueExpression","expressionText":"Text(Now(),
        DateTimeFormat.UTC)"}}}}}],"id":"main"},"inputType":{"$kind":"Record","properties":{"EventName":{"$kind":"PropertyInfo","displayName":"Mock
        Display Name","type":{"$kind":"String"}},"Message":{"$kind":"PropertyInfo","displayName":"Mock
        Display Name","type":{"$kind":"String"}}}}}}},{"$kind":"BotComponentInsert","component":{"$kind":"GlobalVariableComponent","version":1,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2026-09-15T00:39:39.6350321Z","modifiedTimeUtc":"2026-09-15T00:39:39.6350321Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":[...]
- request:
    body: null
    headers:
      x-ms-client-name:
      - EssAdk
    method: GET
    uri: https://api.test.powerplatform.com/connectivity/environments/00000000-0000-0000-0000-000000001111/connections?api-version=2024-10-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      api-supported-versions:
      - '1'
      x-ms-activity-vector:
      - REDACTED
      x-ms-gateway-clusters:
      - REDACTED
      x-ms-igw-tracking-id:
      - REDACTED
      x-ms-islandgateway:
      - REDACTED
      x-ms-ppapigateway:
      - REDACTED
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - REDACTED
    status:
      code: 200
      message: OK
version: 1
