interactions:
- request:
    body: null
    headers:
      OData-MaxVersion:
      - '4.0'
      OData-Version:
      - '4.0'
      Prefer:
      - odata.include-annotations=*
    method: GET
    uri: https://orgmocktenant.api.crm12.dynamics.com/api/data/v9.2/connectionreferences?$select=connectionreferenceid,connectionreferencelogicalname,connectionreferencedisplayname,connectorid,connectionid,statuscode
  response:
    body:
      string: '{"@odata.context":"https://orgmocktenant.api.crm12.dynamics.com/api/data/v9.2/$metadata#connectionreferences(connectionreferenceid,connectionreferencelogicalname,connectionreferencedisplayname,connectorid,connectionid,statuscode)","@Microsoft.Dynamics.CRM.totalrecordcount":-1,"@Microsoft.Dynamics.CRM.totalrecordcountlimitexceeded":false,"@Microsoft.Dynamics.CRM.globalmetadataversion":"3678601","value":[{"@odata.etag":"W/\"2323797\"","connectionid":"shared-commondataser-00000000-0000-0000-0000-000000001111","connectorid":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionreferencedisplayname":"Microsoft
        Dataverse","connectionreferenceid":"00000000-0000-0000-0000-000000001111","mock.user@contoso.com":"Active","statuscode":1,"connectionreferencelogicalname":"msdyn_sharedcommondataserviceforapps_92b66"},{"@odata.etag":"W/\"2323798\"","connectionid":"shared-workdaysoap-00000000-0000-0000-0000-000000001111","connectorid":"/providers/Microsoft.PowerApps/apis/shared_workdaysoap","connectionreferencedisplayname":"OAuthUser","connectionreferenceid":"00000000-0000-0000-0000-000000001111","mock.user@contoso.com":"Active","statuscode":1,"connectionreferencelogicalname":"new_sharedworkdaysoap_ff0df"},{"@odata.etag":"W/\"3656303\"","connectionid":null,"connectorid":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionreferencedisplayname":"Dataverse","connectionreferenceid":"00000000-0000-0000-0000-000000001111","mock.user@contoso.com":"Active","statuscode":1,"connectionreferencelogicalname":"msdyn_Dataverse"},{"@odata.etag":"W/\"3656301\"","connectionid":null,"connectorid":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionreferencedisplayname":"Content
        Conversion","connectionreferenceid":"00000000-0000-0000-0000-000000001111","mock.user@contoso.com":"Active","statuscode":1,"connectionreferencelogicalname":"msdyn_ContentConversion"}]}'
    headers:
      Allow:
      - OPTIONS,GET,HEAD,POST
      AuthActivityId:
      - REDACTED
      Content-Type:
      - application/json; odata.metadata=minimal
      OData-Version:
      - '4.0'
      Preference-Applied:
      - odata.include-annotations="*"
      Public:
      - OPTIONS,GET,HEAD,POST
      REQ_ID:
      - REDACTED
      X-Source:
      - REDACTED
      x-ms-dop-hint:
      - '48'
      x-ms-ratelimit-burst-remaining-xrm-requests:
      - '7999'
      x-ms-ratelimit-time-remaining-xrm-requests:
      - 1,200.00
      x-ms-service-request-id:
      - REDACTED
    status:
      code: 200
      message: OK
version: 1
