interactions:
- request:
    body: null
    headers:
      OData-MaxVersion:
      - '4.0'
      OData-Version:
      - '4.0'
      Prefer:
      - odata.include-annotations=*
    method: GET
    uri: https://orgmocktenant.api.crm.dynamics.com/api/data/v9.2/connectionreferences?$select=connectionreferenceid,connectionreferencelogicalname,connectionreferencedisplayname,connectorid,connectionid,statuscode
  response:
    body:
      string: '{"@odata.context":"https://orgmocktenant.api.crm.dynamics.com/api/data/v9.2/$metadata#connectionreferences(connectionreferenceid,connectionreferencelogicalname,connectionreferencedisplayname,connectorid,connectionid,statuscode)","@Microsoft.Dynamics.CRM.totalrecordcount":-1,"@Microsoft.Dynamics.CRM.totalrecordcountlimitexceeded":false,"@Microsoft.Dynamics.CRM.globalmetadataversion":"4185914","value":[{"@odata.etag":"W/\"2194903\"","connectionid":"00000000000000000000000000000000","connectorid":"/providers/Microsoft.PowerApps/apis/shared_workdaysoap","connectionreferencedisplayname":"Generic
        User","connectionreferenceid":"00000000-0000-0000-0000-000000001111","mock.user@contoso.com":"Active","statuscode":1,"connectionreferencelogicalname":"new_sharedworkdaysoap_0786a"},{"@odata.etag":"W/\"2194905\"","connectionid":"00000000000000000000000000000000","connectorid":"/providers/Microsoft.PowerApps/apis/shared_workdaysoap","connectionreferencedisplayname":"OAuthUser","connectionreferenceid":"00000000-0000-0000-0000-000000001111","mock.user@contoso.com":"Active","statuscode":1,"connectionreferencelogicalname":"new_sharedworkdaysoap_ff0df"},{"@odata.etag":"W/\"2194904\"","connectionid":"00000000000000000000000000000000","connectorid":"/[...]
