interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bap.microsoft.com/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/00000000-0000-0000-0000-000000001111","type":"Microsoft.BusinessAppPlatform/scopes/environments","location":"unitedstates","name":"00000000-0000-0000-0000-000000001111","properties":{"tenantId":"00000000-0000-0000-0000-000000001111","azureRegion":"eastus","displayName":"Mock
        Display Name","createdTime":"2025-08-25T07:42:18.5850778Z","createdBy":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","email":"mock.user@contoso.com","type":"User","tenantId":"00000000-0000-0000-0000-000000001111","userPrincipalName":"mock.user@contoso.com"},"lastModifiedTime":"2026-01-30T12:11:56.8651032Z","provisioningState":"Succeeded","creationType":"User","environmentSku":"Production","isDefault":false,"clientUris":{"admin":"https://admin.powerplatform.microsoft.com/environments/environment/00000000-0000-0000-0000-000000001111/hub","maker":"https://make.powerapps.com/environments/00000000-0000-0000-0000-000000001111/home"},"runtimeEndpoints":{"microsoft.BusinessAppPlatform":"https://unitedstates.api.bap.microsoft.com","microsoft.CommonDataModel":"https://unitedstates.api.cds.microsoft.com","microsoft.PowerApps":"https://unitedstates.api.powerapps.com","microsoft.PowerAppsAdvisor":"https://unitedstates.api.advisor.powerapps.com","microsoft.PowerVirtualAgents":"https://powervamg.us-il000.gateway.prod.island.powerapps.com","microsoft.ApiManagement":"https://management.usa.azure-apihub.net","microsoft.Flow":"https://us.api.flow.microsoft.com"},"databaseType":"CommonDataService","linkedEnvironmentMetadata":{"resourceId":"00000000-0000-0000-0000-000000001111","friendlyName":"Mock
        Friendly Name","uniqueName":"unqmocktenant","domainName":"orgmocktenant","version":"9.2.26041.179","instanceUrl":"https://orgmocktenant.crm.dynamics.com/","instanceApiUrl":"https://orgmocktenant.api.crm.dynamics.com","baseLanguage":1033,"instanceState":"Ready","createdTime":"2025-08-25T07:46:44.85Z","securityGroupId":"00000000-0000-0000-0000-000000001111","backgroundOperationsState":"Enabled","scaleGroup":"MOCKCRMLIVESG000","crmGeo":"NAM","platformSku":"Standard","schemaType":"Standard","isDormant":false},"trialScenarioType":"None","notificationMetadata":{"state":"mc","branding":"NotSpecific"},"retentionPeriod":"P7D","states":{"management":{"id":"Ready"},"runtime":{"runtimeReasonCode":"NotSpecified","requestedBy":{"displayName":"Mock
        Display Name","type":"NotSpecified"},"id":"Enabled"},"disasterRecovery":{"copyLocation":"NearCopy","id":"Disabled"}},"updateCadence":{"id":"Frequent"},"retentionDetails":{"retentionPeriod":"P7D","backupsAvailableFromDateTime":"2026-05-04T16:54:57.5096831Z"},"protectionStatus":{"keyManagedBy":"Microsoft"},"cluster":{"category":"Prod","number":"106","uriSuffix":"us-il000.gateway.prod.island","geoShortName":"US","environment":"Prod","scaleGroupId":"00000000-0000-0000-0000-000000001111"},"connectedGroups":[],"lifecycleOperationsEnforcement":{"allowedOperations":[{"type":{"id":"Move"}},{"type":{"id":"Backup"}},{"type":{"id":"Convert"}},{"type":{"id":"Copy"}},{"type":{"id":"Delete"}},{"type":{"id":"Edit"}},{"type":{"id":"Recover"}},{"type":{"id":"Restore"}},{"type":{"id":"UpdateProtectionStatus"}},{"type":{"id":"SwapNetworkInjection"}},{"type":{"id":"RevertNetworkInjection"}},{"type":{"id":"NewIdentity"}},{"type":{"id":"SwapIdentity"}},{"type":{"id":"RevertIdentity"}},{"type":{"id":"Enable"}},{"type":{"id":"Disable"}},{"type":{"id":"EnableGovernanceConfiguration"}},{"type":{"id":"PrepareTenantToTenant"}},{"type":{"id":"MigrateTenantToTenant"}}],"disallowedOperations":[{"type":{"id":"Provision"},"reason":{"message":"Provision
        cannot be performed because there is no linked CDS instance or the CDS instance
        version is not supported.","type":"CdsLink"}},{"type":{"id":"Unlock"},"reason":{"message":"Unlock
        cannot be performed because there is no linked CDS instance or the CDS instance
        version is not supported.","type":"CdsLink"}},{"type":{"id":"Promote"},"reason":{"message":"Promote
        cannot be performed on environment of type Production.","type":"EnvironmentSkuType"}},{"typ[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bap.microsoft.com/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/00000000-0000-0000-0000-000000001111?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/00000000-0000-0000-0000-000000001111","type":"Microsoft.BusinessAppPlatform/scopes/environments","location":"unitedstates","name":"00000000-0000-0000-0000-000000001111","properties":{"tenantId":"00000000-0000-0000-0000-000000001111","azureRegion":"westus","displayName":"Mock
        Display Name","createdTime":"2026-02-16T07:10:47.230534Z","createdBy":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","email":"mock.user@contoso.com","type":"User","tenantId":"00000000-0000-0000-0000-000000001111","userPrincipalName":"mock.user@contoso.com"},"lastModifiedTime":"2026-02-16T07:10:47.230534Z","lastModifiedBy":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","email":"mock.user@contoso.com","type":"User","tenantId":"00000000-0000-0000-0000-000000001111","userPrincipalName":"mock.user@contoso.com"},"provisioningState":"Succeeded","creationType":"User","environmentSku":"Production","isDefault":false,"clientUris":{"admin":"https://admin.powerplatform.microsoft.com/environments/environment/00000000-0000-0000-0000-000000001111/hub","maker":"https://make.powerapps.com/en[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.powerapps.com/providers/Microsoft.ProcessSimple/scopes/admin/environments/00000000-0000-0000-0000-000000001111/v2/flows?api-version=2016-11-01
  response:
    body:
      string: ''
    headers:
      mise-correlation-id:
      - 00000000-0000-0000-0000-000000001111
      x-ms-activity-vector:
      - 00.00.00
      x-ms-igw-tracking-id:
      - cf63fd28-6233-4f77-90f2-c60c30e8492820260511165459_prdcm001wusgb0_3
      x-ms-islandgateway:
      - _prdcm001wusgb0_3
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - ResourceNotFound
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://api.powerapps.com/providers/Microsoft.PowerApps/scopes/admin/environments/00000000-0000-0000-0000-000000001111/connections?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"name":"shared-service-now-00000000-0000-0000-0000-000000001111","id":"/providers/Microsoft.PowerApps/scopes/admin/environments/00000000-0000-0000-0000-000000001111/apis/shared_service-now/connections/shared-service-now-00000000-0000-0000-0000-000000001111","type":"Microsoft.PowerApps/scopes/apis/connections","properties":{"apiId":"/providers/Microsoft.PowerApps/scopes/admin/environments/00000000-0000-0000-0000-000000001111/apis/shared_service-now","displayName":"Mock
        Display Name","iconUri":"https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1777/1.0.1777.4435/service-now/icon.png","statuses":[{"status":"Connected"}],"connectionParameters":{"username":"mock.user@contoso.com@microsoft_dpt6","instance":"DevMockInstance","sku":"Enterprise"},"keywordsRemaining":78,"isSsoConnection":false,"createdBy":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","email":"mock.user@contoso.com","type":"User","tenantId":"00000000-0000-0000-0000-000000001111","userPrincipalName":"mock.user@contoso.com"},"createdTime":"2026-05-04T09:05:14.2414881Z","lastModifiedTime":"2026-05-11T06:44:33.0598769Z","testLinks":[{"requestUri":"https://00000000-0000-0000-0000-000000001111.07.common.usa002.azure-apihub.net/apim/service-now/shared-service-now-00000000-0000-0000-0000-000000001111/api/now/doc/table/schema","method":"get"}],"environment":{"id":"/providers/Microsoft.PowerApps/environments/00000000-0000-0000-0000-000000001111","name":"00000000-0000-0000-0000-000000001111"},"allowSharing":false}},{"name":"00000000000000000000000000000000","id":"/providers/Microsoft.PowerApps/scopes/admin/environments/00000000-0000-0000-0000-000000001111/apis/shared_service-now/connections/00000000000000000000000000000000","type":"Microsoft.PowerApps/scopes/apis/connections","properties":{"apiId":"/providers/Microsoft.PowerApps/scopes/admin/environments/00000000-0000-0000-0000-000000001111/apis/shared_service-now","displayName":"Mock
        Display Name","iconUri":"https://conn-afd-prod-endpoint-bmc9bqahasf3grgk.b01.azurefd.net/releases/v1.0.1777/1.0.1777.4435/service-now/icon.png","statuses":[{"status":"Connected"}],"connectionParametersSet":{"name":"entraIDUserLogin","values":{"token:ResourceUri":{"value":"00000000-0000-0000-0000-000000001111"},"token:InstanceName":{"value":"DevMockInstance"}}},"keywordsRemaining":78,"isSsoConnection":false,"createdBy":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","email":"mock.user@contoso.com","type":"User","tenantId":"00000000-0000-0000-0000-000000001111","userPrincipalName":"mock.user@contoso.com"},"createdTime":"2026-05-11T05:59:17.4068594Z","lastModifiedTime":"2026-05-11T10:41:43.0161655Z","expirationTime":"2026-05-11T11:47:33.0005387Z","testLinks":[{"requestUri":"https://00000000-0000-0000-0000-000000001111.07.common.usa002.azure-apihub.net/apim/service-now/00000000000000000000000000000000/api/now/doc/table/schema","method":"get"}],"environment":{"id":"/providers/Microsoft.PowerApps/environments/00000000-0000-0000-0000-000000001111","name":"00000000-0000-0000-0000-000000001111"},"accountName":"mock.user@contoso.com","allowSharing":false}},{"name":"shared-service-now-00000000-0000-0000-0000-000000001111","id":"/providers/Microsoft.PowerApps/scopes/admin/environments/00000000-0000-0000-0000-000000001111/apis/shared_service-now/connections/shared-service-now-00000000-0000-0000-0000-000000001111","type":"Microsoft.PowerApps/scopes/apis/connections","properties":{"apiId":"/providers/Microsoft.PowerApps/scopes/admin/environments/00000000-0000-0000-0000-000000001111/apis/shared_service-now"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bap.microsoft.com/providers/Microsoft.BusinessAppPlatform/scopes/admin/apiPolicies?api-version=2021-04-01
  response:
    body:
      string: '{"value":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 00000000-0000-0000-0000-000000001111
      x-ms-activity-vector:
      - '00'
      x-ms-igw-tracking-id:
      - a3fc0174-3dd4-444b-a0a0-11be5459081a20260511165501_prdcm001eusgb0_1
      x-ms-islandgateway:
      - _prdcm001eusgb0_1
      x-ms-service-request-id:
      - REDACTED
    status:
      code: 200
      message: OK
version: 1
