interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soapenv:Envelope\n    xmlns:soapenv=\"\
      http://schemas.xmlsoap.org/soap/envelope/\"\n    xmlns:bsvc=\"urn:com.workday/bsvc\"\
      >\n  <soapenv:Header>\n    <wsse:Security xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <wsse:UsernameToken>\n        <wsse:Username>REDACTED_WSSE_USERNAME</wsse:Username>\n\
      \        <wsse:Password>REDACTED_WSSE_PASSWORD</wsse:Password>\n      </wsse:UsernameToken>\n\
      \    </wsse:Security>\n  </soapenv:Header>\n  <soapenv:Body>\n    <bsvc:Get_Workers_Request\
      \ bsvc:version=\"v40.0\">\n      <bsvc:Request_References>\n        <bsvc:Worker_Reference>\n\
      \          <bsvc:ID bsvc:type=\"Employee_ID\">MOCK_ID</bsvc:ID>\n        </bsvc:Worker_Reference>\n\
      \      </bsvc:Request_References>\n      <bsvc:Response_Group><bsvc:Include_Reference>true</bsvc:Include_Reference></bsvc:Response_Group>\n\
      \    </bsvc:Get_Workers_Request>\n  </soapenv:Body>\n</soapenv:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/service/mocktenant_xx/Human_Resources/v40.0
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wd:Get_Workers_Response
        xmlns:wd="urn:com.workday/bsvc" wd:version="v40.0"><wd:Request_References><wd:Worker_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Worker_Reference></wd:Request_References><wd:Response_Group><wd:Include_Reference>1</wd:Include_Reference></wd:Response_Group><wd:Response_Results><wd:Total_Results>1</wd:Total_Results><wd:Total_Pages>1</wd:Total_Pages><wd:Page_Results>1</wd:Page_Results><wd:Page>1</wd:Page></wd:Response_Results><wd:Response_Data><wd:Worker><wd:Worker_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Worker_Reference><wd:Worker_Descriptor>Mock
        User</wd:Worker_Descriptor></wd:Worker></wd:Response_Data></wd:Get_Workers_Response></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      WD-RateLimit-Tokens-Remaining:
      - '700'
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soapenv:Envelope\n    xmlns:soapenv=\"\
      http://schemas.xmlsoap.org/soap/envelope/\"\n    xmlns:bsvc=\"urn:com.workday/bsvc\"\
      >\n  <soapenv:Header>\n    <wsse:Security xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <wsse:UsernameToken>\n        <wsse:Username>REDACTED_WSSE_USERNAME</wsse:Username>\n\
      \        <wsse:Password>REDACTED_WSSE_PASSWORD</wsse:Password>\n      </wsse:UsernameToken>\n\
      \    </wsse:Security>\n  </soapenv:Header>\n  <soapenv:Body>\n    <bsvc:Get_Workers_Request\
      \ bsvc:version=\"v40.0\">\n      <bsvc:Request_References>\n        <bsvc:Worker_Reference>\n\
      \          <bsvc:ID bsvc:type=\"Employee_ID\">MOCK_ID</bsvc:ID>\n        </bsvc:Worker_Reference>\n\
      \      </bsvc:Request_References>\n      <bsvc:Response_Group><bsvc:Include_Organizations>true</bsvc:Include_Organizations></bsvc:Response_Group>\n\
      \    </bsvc:Get_Workers_Request>\n  </soapenv:Body>\n</soapenv:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/service/mocktenant_xx/Human_Resources/v40.0
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wd:Get_Workers_Response
        xmlns:wd="urn:com.workday/bsvc" wd:version="v40.0"><wd:Request_References><wd:Worker_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Worker_Reference></wd:Request_References><wd:Response_Group><wd:Include_Organizations>1</wd:Include_Organizations></wd:Response_Group><wd:Response_Results><wd:Total_Results>1</wd:Total_Results><wd:Total_Pages>1</wd:Total_Pages><wd:Page_Results>1</wd:Page_Results><wd:Page>1</wd:Page></wd:Response_Results><wd:Response_Data><wd:Worker><wd:Worker_Data><wd:Worker_ID>MOCK_EMP_001</wd:Worker_ID><wd:User_ID>mockuser</wd:User_ID><wd:Organization_Data><wd:Worker_Organization_Data><wd:Organization_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Organization_Reference_ID">MOCK_ID</wd:ID><wd:ID
        wd:type="Cost_Center_Reference_ID">MOCK_ID</wd:ID></wd:Organization_Reference><wd:Organization_Data><wd:Organization_Reference_ID>70100</wd:Organization_Reference_ID><wd:Organization_Code>70100</wd:Organization_Code><wd:Integration_ID_Data><wd:ID
        wd:System_ID="WD-I">2502$149</wd:ID><wd:ID wd:System_ID="WD-WID">00000000000000000000000000000000</wd:ID></wd:Integration_ID_Data><wd:Organization_Name>Sales
        Management</wd:Organization_Name><wd:Organization_Type_Reference><wd:ID wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID
        wd:type="Organization_Type_ID">COST_CENTER</wd:ID></wd:Organization_Type_Reference><wd:Organization_Subtype_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Organization_Subtype_ID">Cost
        Center</wd:ID></wd:Organization_Subtype_Reference><wd:Organization_Support_Role_Data><wd:Organization_Support_Role><wd:Organization_Role_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Organization_Role_ID">Alternate_Owner</wd:ID></wd:Organization_Role_Reference><wd:Organization_Role_Data><wd:Worker_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Worker_Reference><wd:Assignment_From>Inherited</wd:Assignment_From></wd:Organization_Role_Data></wd:Organization_Support_Role><wd:Organization_Support_Role><wd:Organization_Role_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Organization_Role_ID">ASSIGNABLE_ROLE-16-95</wd:ID></wd:Organization_Role_Reference><wd:Organization_Role_Data><wd:Worker_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Worker_Referen[...]
[...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soapenv:Envelope\n    xmlns:soapenv=\"\
      http://schemas.xmlsoap.org/soap/envelope/\"\n    xmlns:bsvc=\"urn:com.workday/bsvc\"\
      >\n  <soapenv:Header>\n    <wsse:Security xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <wsse:UsernameToken>\n        <wsse:Username>REDACTED_WSSE_USERNAME</wsse:Username>\n\
      \        <wsse:Password>REDACTED_WSSE_PASSWORD</wsse:Password>\n      </wsse:UsernameToken>\n\
      \    </wsse:Security>\n  </soapenv:Header>\n  <soapenv:Body>\n    <bsvc:Get_Workers_Request\
      \ bsvc:version=\"v40.0\">\n      <bsvc:Request_References>\n        <bsvc:Worker_Reference>\n\
      \          <bsvc:ID bsvc:type=\"Employee_ID\">MOCK_ID</bsvc:ID>\n        </bsvc:Worker_Reference>\n\
      \      </bsvc:Request_References>\n      <bsvc:Response_Group><bsvc:Include_Employment_Information>true</bsvc:Include_Employment_Information></bsvc:Response_Group>\n\
      \    </bsvc:Get_Workers_Request>\n  </soapenv:Body>\n</soapenv:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/service/mocktenant_xx/Human_Resources/v40.0
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wd:Get_Workers_Response
        xmlns:wd="urn:com.workday/bsvc" wd:version="v40.0"><wd:Request_References><wd:Worker_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Worker_Reference></wd:Request_References><wd:Response_Group><wd:Include_Employment_Information>1</wd:Include_Employment_Information></wd:Response_Group><wd:Response_Results><wd:Total_Results>1</wd:Total_Results><wd:Total_Pages>1</wd:Total_Pages><wd:Page_Results>1</wd:Page_Results><wd:Page>1</wd:Page></wd:Response_Results><wd:Response_Data><wd:Worker><wd:Worker_Data><wd:Worker_ID>MOCK_EMP_001</wd:Worker_ID><wd:User_ID>mockuser</wd:User_ID><wd:Employment_Data><wd:Worker_Job_Data
        wd:Primary_Job="1"><wd:Position_Data wd:Effective_Date="2025-10-05"><wd:Position_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Position_ID">MOCK_ID</wd:ID></wd:Position_Reference><wd:Position_ID>POS-MOCK-001</wd:Position_ID><wd:Position_Title>Sales
        &amp; Compensation &amp; Analyst</wd:Position_Title><wd:Business_Title>Sales
        &amp; Compensation &amp; Analyst</wd:Business_Title><wd:Start_Date>2025-07-01</wd:Start_Date><wd:Worker_Type_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_Type_ID">Regular</wd:ID></wd:Worker_Type_Reference><wd:Position_Time_Type_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Position_Time_Type_ID">Full_time</wd:ID></wd:Position_Time_Type_Reference><wd:Job_Exempt>1</wd:Job_Exempt><wd:Scheduled_Weekly_Hours>40</wd:Scheduled_Weekly_Hours><wd:Default_Weekly_Hours>40</wd:Default_Weekly_Hours><wd:Working_Time_Value>0</wd:Working_Time_Value><wd:Full_Time_Equivalent_Percentage>100</wd:Full_Time_Equivalent_Percentage><wd:Specify_Paid_FTE>0</wd:Specify_Paid_FTE><wd:Paid_FTE>0</wd:Paid_FTE><wd:Specify_Working_FTE>0</wd:Specify_Working_FTE><wd:Working_FTE>0</wd:Working_FTE><wd:Exclude_from_Headcount>0</wd:Exclude_from_Headcount><wd:Job_Classification_Summary_Data><wd:Job_Classification_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Job_Classification_Reference_ID">221.3</wd:ID></wd:Job_Classification_Reference><wd:Job_Group_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Job_Classification_Group_ID">JOB_CLASSIFICATION_GROUP-16-1</wd:ID></wd:Job_Group_Reference></wd:Job_Classification_Summary_Data><wd:Federal_Withholding_FEIN>99-0343105</wd:Federal_Withholding_FEIN><wd:Worker_Compensation_Code_Data><wd:Workers_Compensation_Code_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Workers_Compensation_ID">8810</wd:ID></wd:Workers_Compensation_Code_Reference><wd:Workers_Compensation_Code>8810</wd:Workers_Compensation_Code></wd:Worker_Compensation_Code_Data><wd:Job_Profile_Summary_Data><wd:Job_Profile_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Job_Profile_ID">39875</wd:ID></wd:Job_Profile_Reference><wd:Job_Exempt>1</wd:Job_Exempt><wd:Management_Level_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Management_Level_ID">8_Individual_Contributor</wd:ID></wd:Management_Level_Reference><wd:Job_Family_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Job_Family_ID">Sales-Operations</wd:ID></wd:Job_Family_Reference><wd:Job_Family_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Job_Family_ID">JOB_FAMILY-6-74</wd:ID></wd:Job_Family_Reference><wd:Job_Profile_Name>Sales
        Compensation Analyst</wd:Job_Profile_Name><wd:Work_Shift_Required>0</wd:Work_Shift_Required><wd:Critical_Job>0</wd:Critical_Job><wd:Difficulty_to_Fill_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Difficulty_to_Fill_Code">EASY</wd:ID></wd:Difficulty_to_Fill_Reference></wd:Job_Profile_Summary_Data><wd:Business_Site_Summary_Data><wd:Location_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Location_ID">Home_Office_USA_site</wd:ID></wd:Location_Reference><wd:Name>Home
        Office (USA)</wd:Name><wd:Location_Type_Reference><wd:ID wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID
        wd:type="Location_Type_ID">334.5</wd:ID></wd:Location_Type_Reference><wd:Local_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Locale_ID">en_US</wd:ID></wd:Local_Reference><wd:Time_Profile_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Time_Profile_ID">344.1</wd:ID></wd:Time_Profile_Reference><wd:Scheduled_Weekly_Hours>40</wd:Scheduled_Weekly_Hours><wd:Address_Data
        wd:Effective_Date="2000-01-01" wd:Address_Format_Type="Basic" wd:Formatted_Address="123
        Main Street&amp;#xa;Anytown, CA 94065&amp;#xa;United States of America" wd:Defaulted_Business_Site_Address="0"><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:Last_Modified>2009-06-06T21:50:40.975-07:00</wd:Last_Modified><wd:Address_Line_Data
        wd:Type="ADDRESS_LINE_1" wd:Descriptor="Mock User">1 Mock Street</wd:Address_Line_Data><wd:Municipality>Mocktown</wd:Municipality><wd:Country_Region_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Country_Region_ID">USA-CA</wd:ID><wd:ID
        wd:type="ISO_3166-2_Code">CA</wd:ID><wd:ID wd:type="ISO_3166-2_Country-Region_Code">US-CA</wd:ID><wd:ID
        wd:type="OPM_Country_Subdivision_Code">US-CA</wd:ID></wd:Country_Region_Reference><wd:Country_Region_Descriptor>California</wd:Country_Region_Descriptor><wd:Postal_Code>00000</wd:Postal_Code><wd:Usage_Data
        wd:Public="1"><wd:Type_Data wd:Primary="1"><wd:Type_Reference><wd:ID wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID
        wd:type="Communication_Usage_Type_ID">BUSINESS</wd:ID></wd:Type_Reference></wd:Type_Data></wd:Usage_Data><wd:Number_of_Days>0</wd:Number_of_Days><wd:Address_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Address_ID">ADDRESS_REFERENCE-4-497</wd:ID></wd:Address_Reference><wd:Address_ID>ADDRESS_REFERENCE-4-497</wd:Address_ID></wd:Address_Data></wd:Business_Site_Summary_Data><wd:Manager_as_of_last_detected_manager_change_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Manager_as_of_last_detected_manager_change_Reference></wd:Position_Data></wd:Worker_Job_Data><wd:Worker_Status_Data><wd:Active>1</wd:Active><wd:Active_Status_Date>2025-07-01</wd:Active_Status_Date><wd:Hire_Date>2020-01-01</wd:Hire_Date><wd:Original_Hire_Date>2020-01-01</wd:Original_Hire_Date><wd:Continuous_Service_Date>2020-01-01</wd:Continuous_Service_Date><wd:First_Day_of_Work>2025-07-01</wd:First_Day_of_Work><wd:Retired>0</wd:Retired><wd:Seniority_Date>2025-07-01</wd:Seniority_Date><wd:Days_Unemployed>0</wd:Days_Unemployed><wd:Months_Continuous_Prior_Employment>0</wd:Months_Continuous_Prior_Employment><wd:Terminated>0</wd:Terminated><wd:Regrettable_Termination>0</wd:Regrettable_Termination><wd:Hire_Rescinded>0</wd:Hire_Rescinded><wd:Not_Returning>0</wd:Not_Returning><wd:Return_Unknown>0</wd:Return_Unknown><wd:Rehire>0</wd:Rehire></wd:Worker_Status_Data><wd:International_Assignment_Summary_Data><wd:Has_International_Assignment>0</wd:Has_International_Assignment></wd:International_Assignment_Summary_Data></wd:Employment_Data></wd:Worker_Data></wd:Worker></wd:Response_Data></wd:Get_Workers_Response></env:Body></env:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      WD-RateLimit-Tokens-Remaining:
      - '700'
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
[...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soapenv:Envelope\n    xmlns:soapenv=\"\
      http://schemas.xmlsoap.org/soap/envelope/\"\n    xmlns:bsvc=\"urn:com.workday/bsvc\"\
      >\n  <soapenv:Header>\n    <wsse:Security xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <wsse:UsernameToken>\n        <wsse:Username>REDACTED_WSSE_USERNAME</wsse:Username>\n\
      \        <wsse:Password>REDACTED_WSSE_PASSWORD</wsse:Password>\n      </wsse:UsernameToken>\n\
      \    </wsse:Security>\n  </soapenv:Header>\n  <soapenv:Body>\n    <bsvc:Get_Workers_Request\
      \ bsvc:version=\"v40.0\">\n      <bsvc:Request_References>\n        <bsvc:Worker_Reference>\n\
      \          <bsvc:ID bsvc:type=\"Employee_ID\">MOCK_ID</bsvc:ID>\n        </bsvc:Worker_Reference>\n\
      \      </bsvc:Request_References>\n      <bsvc:Response_Group><bsvc:Include_Personal_Information>true</bsvc:Include_Personal_Information></bsvc:Response_Group>\n\
      \    </bsvc:Get_Workers_Request>\n  </soapenv:Body>\n</soapenv:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/service/mocktenant_xx/Human_Resources/v40.0
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wd:Get_Workers_Response
        xmlns:wd="urn:com.workday/bsvc" wd:version="v40.0"><wd:Request_References><wd:Worker_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Worker_Reference></wd:Request_References><wd:Response_Group><wd:Include_Personal_Information>1</wd:Include_Personal_Information></wd:Response_Group><wd:Response_Results><wd:Total_Results>1</wd:Total_Results><wd:Total_Pages>1</wd:Total_Pages><wd:Page_Results>1</wd:Page_Results><wd:Page>1</wd:Page></wd:Response_Results><wd:Response_Data><wd:Worker><wd:Worker_Data><wd:Worker_ID>MOCK_EMP_001</wd:Worker_ID><wd:User_ID>mockuser</wd:User_ID><wd:Personal_Data><wd:Name_Data><wd:Legal_Name_Data><wd:Name_Detail_Data
        wd:Formatted_Name="Mock User" wd:Reporting_Name="Mock User"><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:First_Name>Mock</wd:First_Name><wd:Last_Name>User</wd:Last_Name></wd:Name_Detail_Data></wd:Legal_Name_Data><wd:Preferred_Name_Data><wd:Name_Detail_Data
        wd:Formatted_Name="Mock User" wd:Reporting_Name="Mock User"><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:First_Name>Mock</wd:First_Name><wd:Last_Name>User</wd:Last_Name></wd:Name_Detail_Data></wd:Preferred_Name_Data></wd:Name_Data><wd:Personal_Information_Data><wd:Personal_Information_For_Country_Data><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:Country_Personal_Information_Data><wd:Hispanic_or_Latino>0</wd:Hispanic_or_Latino><wd:Hispanic_or_Latino_Visual_Survey>0</wd:Hispanic_or_Latino_Visual_Survey><wd:Gender_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Gender_Code">Male</wd:ID></wd:Gender_Reference></wd:Country_Personal_Information_Data></wd:Personal_Information_For_Country_Data><wd:Birth_Date>1990-01-01</wd:Birth_Date><wd:Citizenship_Status_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID></wd:Citizenship_Status_Reference><wd:Citizenship_Status_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Citizenship_Status_Code">USA_Visitor</wd:ID></wd:Citizenship_Status_Reference></wd:Personal_Information_Data><wd:Identification_Data><wd:National_ID><wd:National_ID_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID></wd:National_ID_Reference><wd:National_ID_Data><wd:ID>912701234</wd:ID><wd:ID_Type_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="National_ID_Type_Code">USA-ITIN</wd:ID></wd:ID_Type_Reference><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:Issued_Date>2025-07-01</wd:Issued_Date><wd:Expiration_Date>2026-04-30</wd:Expiration_Date><wd:Verification_Date>2025-07-18</wd:Verification_Date><wd:Verified_By_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Verified_By_Reference></wd:National_ID_Data><wd:National_ID_Shared_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="National_Identifier_Reference_ID">NATIONAL_IDENTIFIER_REFERENCE-6-777</wd:ID></wd:National_ID_Shared_Reference></wd:National_ID><wd:National_ID><wd:National_ID_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID></wd:National_ID_Reference><wd:National_ID_Data><wd:ID>123456789</wd:ID><wd:ID_Type_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="National_ID_Type_Code">USA-SSN</wd:ID></wd:ID_Type_Reference><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:Issued_Date>2025-07-01</wd:Issued_Date><wd:Expiration_Date>2026-08-31</wd:Expiration_Date><wd:Verification_Date>2025-07-18</wd:Verification_Date><wd:Verified_By_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Verified_By_Reference></wd:National_ID_Data><wd:National_ID_Shared_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="National_Identifier_Reference_ID">NATIONAL_IDENTIFIER_REFERENCE-6-778</wd:ID></wd:National_ID_Shared_Reference></wd:National_ID><wd:Government_ID><wd:Government_ID_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID></wd:Government_ID_Reference><wd:Government_ID_Data><wd:ID>123-456-782</wd:ID><wd:ID_Type_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Government_ID_Type_ID">Refugee_Travel_Document</wd:ID></wd:ID_Type_Reference><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:Issued_Date>2025-07-01</wd:Issued_Date><wd:Expiration_Date>2026-02-28</wd:Expiration_Date><wd:Verification_Date>2025-07-17</wd:Verification_Date><wd:Verified_by_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Verified_by_Reference></wd:Government_ID_Data><wd:Government_ID_Shared_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Government_Identifier_Reference_ID">GOVERNMENT_IDENTIFIER_REFERENCE-6-163</wd:ID></wd:Government_ID_Shared_Reference></wd:Government_ID><wd:Government_ID><wd:Government_ID_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID></wd:Government_ID_Reference><wd:Government_ID_Data><wd:ID>123-456-781</wd:ID><wd:ID_Type_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</w[...]
[...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soapenv:Envelope\n    xmlns:soapenv=\"\
      http://schemas.xmlsoap.org/soap/envelope/\"\n    xmlns:bsvc=\"urn:com.workday/bsvc\"\
      >\n  <soapenv:Header>\n    <wsse:Security xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\"\
      >\n      <wsse:UsernameToken>\n        <wsse:Username>REDACTED_WSSE_USERNAME</wsse:Username>\n\
      \        <wsse:Password>REDACTED_WSSE_PASSWORD</wsse:Password>\n      </wsse:UsernameToken>\n\
      \    </wsse:Security>\n  </soapenv:Header>\n  <soapenv:Body>\n    <bsvc:Get_Workers_Request\
      \ bsvc:version=\"v40.0\">\n      <bsvc:Request_References>\n        <bsvc:Worker_Reference>\n\
      \          <bsvc:ID bsvc:type=\"Employee_ID\">MOCK_ID</bsvc:ID>\n        </bsvc:Worker_Reference>\n\
      \      </bsvc:Request_References>\n      <bsvc:Response_Group><bsvc:Include_Qualifications>true</bsvc:Include_Qualifications></bsvc:Response_Group>\n\
      \    </bsvc:Get_Workers_Request>\n  </soapenv:Body>\n</soapenv:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/service/mocktenant_xx/Human_Resources/v40.0
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wd:Get_Workers_Response
        xmlns:wd="urn:com.workday/bsvc" wd:version="v40.0"><wd:Request_References><wd:Worker_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Employee_ID">MOCK_ID</wd:ID></wd:Worker_Reference></wd:Request_References><wd:Response_Group><wd:Include_Qualifications>1</wd:Include_Qualifications></wd:Response_Group><wd:Response_Results><wd:Total_Results>1</wd:Total_Results><wd:Total_Pages>1</wd:Total_Pages><wd:Page_Results>1</wd:Page_Results><wd:Page>1</wd:Page></wd:Response_Results><wd:Response_Data><wd:Worker><wd:Worker_Data><wd:Worker_ID>MOCK_EMP_001</wd:Worker_ID><wd:User_ID>mockuser</wd:User_ID><wd:Qualification_Data><wd:Certification><wd:Certification_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Certification_Skill_ID">CERTIFICATION_QUALIFICATION-6-329</wd:ID></wd:Certification_Reference><wd:Certification_Data><wd:Certification_ID>CERTIFICATION_QUALIFICATION-6-329</wd:Certification_ID><wd:Certification_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Certification_ID">CERTIFICATION-10-8</wd:ID></wd:Certification_Reference><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:Certification_Name>Certified
        Management Accountant (CMA) - Institute of Management Accountants</wd:Certification_Name><wd:Issuer>Institute
        of Management Accountants</wd:Issuer><wd:Certification_Number>GH377492</wd:Certification_Number><wd:Issued_Date>2026-02-17</wd:Issued_Date><wd:Expiration_Date>2029-11-27</wd:Expiration_Date><wd:Examination_Score>788</wd:Examination_Score><wd:Examination_Date>2026-02-01</wd:Examination_Date></wd:Certification_Data></wd:Certification><wd:Education><wd:Education_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Education_ID">EDUCATION_QUALIFICATION-6-1444</wd:ID></wd:Education_Reference><wd:Education_Data><wd:Education_ID>EDUCATION_QUALIFICATION-6-1444</wd:Education_ID><wd:Country_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="ISO_3166-1_Alpha-2_Code">US</wd:ID><wd:ID
        wd:type="ISO_3166-1_Alpha-3_Code">USA</wd:ID><wd:ID wd:type="ISO_3166-1_Numeric-3_Code">840</wd:ID></wd:Country_Reference><wd:School_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="School_ID">California_Baptist_University</wd:ID></wd:School_Reference><wd:School_Name>California
        Baptist University</wd:School_Name><wd:Location>California, United States
        of America</wd:Location><wd:Degree_Reference><wd:ID wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID
        wd:type="Degree_ID">DEGREE-16-13</wd:ID></wd:Degree_Reference><wd:Degree_Completed_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Degree_Completed_ID">Yes</wd:ID></wd:Degree_Completed_Reference><wd:Date_Degree_Received>2000-01-01</wd:Date_Degree_Received><wd:Field_Of_Study_Reference><wd:ID
        wd:type="WID">00000000000000000000000000000000</wd:ID><wd:ID wd:type="Field_Of_Study_ID">FINANCE</wd:ID></wd:Field_Of_Study_Reference><wd:Grade_Average>3.88</wd:Grade_Average><wd:First_Year_Attended>1996-01-01</wd:First_Year_Attended><wd:Last_Year_Attended>2000-01-01</wd:Last_Year_Attended><wd:Is_Highest_Level_of_Education>1</wd:Is_Highest_Level_of_Education></wd:Education_Data></wd:Education><wd:Language><wd:Language_Reference><wd:ID
[...]
