interactions:
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/organization
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#organization","value":[{"id":"00000000-0000-0000-0000-000000001111","deletedDateTime":null,"businessPhones":[],"city":"Mocktown","country":null,"countryLetterCode":"MC","createdDateTime":"2024-07-29T19:23:19Z","defaultUsageLocation":null,"displayName":"Mock
        Display Name","isMultipleDataLocationsForServicesEnabled":null,"marketingNotificationEmails":[],"onPremisesLastSyncDateTime":null,"onPremisesSyncEnabled":null,"partnerTenantType":null,"postalCode":"00000","preferredLanguage":"en","securityComplianceNotificationMails":[],"securityComplianceNotificationPhones":[],"state":"mc","street":"1
        Mock Street","technicalNotificationMails":["mock.user@contoso.com"],"tenantType":"AAD","directorySizeQuota":{"used":4746,"total":300000},"privacyProfile":null,"assignedPlans":[{"assignedDateTime":"2026-04-04T16:22:00Z","capabilityStatus":"Suspended","service":"MicrosoftCommunicationsOnline","servicePlanId":"00000000-0000-0000-0000-000000001111"},{"assignedDateTime":"2026-04-04T16:22:00Z","capabilityStatus":"Suspended","service":"MicrosoftStream","servicePlanId":"00000000-0000-0000-0000-000000001111"},{"assignedDateTime":"2026-04-04T16:22:00Z","capabilityStatus":"Suspended","service":"CRM","servicePlanId":"00000000-0000-0000-0000-000000001111"},{"assignedDateTime":"2026-04-04T16:22:00Z","capabilityStatus":"Suspended","service":"TeamspaceAPI","servicePlanId":"00000000-0000-0000-0000-000000001111"},{[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?%24top=10
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users","@odata.nextLink":"https://graph.microsoft.com/v1.0/users?$top=10&$skiptoken=RFNwdAIAAQAAACY6YWRtaW51c2VyQEVtcGxveWVlSHViLm9ubWljcm9zb2Z0LmNvbSlVc2VyXzQyZTIwNjM3LTBkOGUtNGUyNi1hYzEzLTAxMjc4OGE0NmI3NbkAAAAAAAAAAAAA","value":[{"businessPhones":[],"displayName":"Mock
        Display Name","givenName":"Aban","jobTitle":"Mock Title","mail":"mock.user@contoso.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":"Unlicensed","userPrincipalName":"mock.user@contoso.com","id":"00000000-0000-0000-0000-000000001111"},{"businessPhones":[],"displayName":"Mock
        Display Name","givenName":"Abel","jobTitle":"Mock Title","mail":"mock.user@contoso.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":"Tuter","userPrincipalName":"mock.user@contoso.com","id":"00000000-0000-0000-0000-000000001111"},{"businessPhones":[],"displayName":"Mock
        Display Name","givenName":"Abraham","jobTitle":"Mock Title","mail":"mock[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/directoryRoles
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryRoles","value":[{"id":"00000000-0000-0000-0000-000000001111","deletedDateTime":null,"description":"Can
        manage Active Directory to Microsoft Entra cloud provisioning, Microsoft Entra
        Connect, and federation settings.","displayName":"Mock Display Name","roleTemplateId":"00000000-0000-0000-0000-000000001111"},{"id":"00000000-0000-0000-0000-000000001111","deletedDateTime":null,"description":"Allowed
        to view, set and reset authentication method information for any non-admin
        user.","displayName":"Mock Display Name","roleTemplateId":"00000000-0000-0000-0000-000000001111"},{"id":"00000000-0000-0000-0000-000000001111","deletedDateTime":null,"description":"Can
        approve Microsoft support requests to access customer organizational data.","displayN[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/identity/conditionalAccess/policies
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies","value":[{"id":"00000000-0000-0000-0000-000000001111","templateId":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","createdDateTime":"2025-08-04T19:58:02.4400991Z","modifiedDateTime":"2026-05-06T06:09:43.3737052Z","state":"mc","deletedDateTime":null,"conditions":{"userRiskLevels":[],"signInRiskLevels":["high"],"clientAppTypes":["all"],"servicePrincipalRiskLevels":[],"insiderRiskLevels":null,"platforms":null,"locations":null,"devices":null,"clientApplications":null,"authenticationFlows":null,"applications":{"includeApplications":["All"],"excludeApplications":[],"includeUserActions":[],"includeAuthenticationContextClassReferences":[],"applicationFilter":null},"users":{"includeUsers":[],"excludeUsers":["00000000-0000-0000-0000-000000001111"],"includeGroups":["00000000-0000-0000-0000-000000001111"],"excludeGroups":["00000000-0000-0000-0000-000000001111"],"includeRoles":[],"excludeRoles":[],"includeGuestsOrExternalUsers":null,"excludeGuestsOrExternalUsers":null}},"grantControls":{"operator":"OR","builtInControls":["mfa"],"customAuthenticationFactors":[],"termsOfUse":[],"mock.user@contoso.com":"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies(''00000000-0000-0000-0000-000000001111'')/grantControls/authenticationStrength/$entity","authenticationStrength":null},"sessionControls":{"disableResilienceDefaults":null,"applicationEnforcedRestrictions":null,"cloudAppSecurity":null,"persistentBrowser":null,"secureSignInSession":null,"signInFrequency":{"value":null,"type":null,"authenticationType":"primaryAndSecondaryAuthentication","frequencyInterval":"everyTime","isEnabled":true}}},{"id":"00000000-0000-0000-0000-000000001111","templateId":null,"displayName":"Mock
        Display Name","createdDateTime":"2026-04-16T05:58:28.2104028Z","modifiedDateTime":"2026-05-06T06:09:46.6038041Z","state":"mc","deletedDateTime":null,"sessionControls":null,"conditions":{"userRiskLevels":[],"signInRiskLevels":[],"clientAppTypes":["all"],"servicePrincipalRiskLevels":[],"insiderRiskLevels":null,"platforms":null,"devices":null,"clientApplications":null,"authenticationFlows":null,"applications":{"includeApplications":[],"excludeApplications":[],"includeUserActions":["urn:user:registersecurityinfo"],"includeAuthenticationContextClassReferences":[],"applicationFilter":null},"users":{"includeUsers":["All"],"excludeUsers":["00000000-0000-0000-0000-000000001111","00000000-0000-0000-0000-000000001111"],"includeGroups":[],"excludeGroups":["00000000-0000-0000-0000-000000001111"],"includeRoles":[],"excludeRoles":[],"includeGuestsOrExternalUsers":null,"excludeGuestsOrExternalUsers":null},"locations":{"includeLocations":["All"],"excludeLocations":[]}},"grantControls":{"operator":"OR","builtInControls":["block"],"customAuthenticationFactors":[],"termsOfUse":[],"mock.user@contoso.com":"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies(''00000000-0000-0000-0000-000000001111'')/grantControls/authenticationStrength/$entity","authenticationStrength":null}},{"id":"00000000-0000-0000-0000-000000001111","templateId":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","createdDateTime":"202[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/subscribedSkus
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#subscribedSkus","value":[{"accountName":"mock.user@contoso.com","accountId":"00000000-0000-0000-0000-000000001111","appliesTo":"User","capabilityStatus":"Enabled","consumedUnits":30,"id":"00000000-0000-0000-0000-000000001111_1e615a51-59db-4807-9957-aa83c3657351","skuId":"00000000-0000-0000-0000-000000001111","skuPartNumber":"Dynamics_365_Customer_Service_Enterprise_viral_trial","subscriptionIds":["00000000-0000-0000-0000-000000001111"],"prepaidUnits":{"enabled":10000,"suspended":0,"warning":0,"lockedOut":0},"servicePlans":[{"servicePlanId":"00000000-0000-0000-0000-000000001111","servicePlanName":"DYN365_CS_VOICE_VIRAL_TRIAL","servicePlanType":"CRM","provisioningStatus":"Success","appliesTo":"User"},{"servicePlanId":"00000000-0000-0000-0000-000000001111","servicePlanName":"POWER_AUTOMATE_DYN365_VIRAL_TRIAL","servicePlanType":"ProcessSimple","provisioningStatus":"Success","appliesTo":"User"},{"servicePlanId":"00000000-0000-0000-0000-000000001111","servicePlanName":"POWER_APPS_DYN365_VIRAL_TRIAL","servicePlanType":"PowerAppsService","provisioningStatus":"Success","appliesTo":"User"},{"servicePlanId":"00000000-0000-0000-0000-000000001111","servicePlanName":"EXCHAN[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$top=10&$select=id,appId,displayName,appOwnerOrganizationId
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals(id,appId,displayName,appOwnerOrganizationId)","@odata.nextLink":"https://graph.microsoft.com/v1.0/servicePrincipals?$top=10&$select=id%2cappId%2cdisplayName%2cappOwnerOrganizationId&$skiptoken=RFNwdAIAAQAAADVTZXJ2aWNlUHJpbmNpcGFsXzAwZDU5NjI1LTU5MWYtNDcyYy1hNDc4LWJmMGY5YzlhMzNlZTVTZXJ2aWNlUHJpbmNpcGFsXzAwZDU5NjI1LTU5MWYtNDcyYy1hNDc4LWJmMGY5YzlhMzNlZQAAAAAAAAAAAAAA","value":[{"@odata.type":"#microsoft.graph.agentIdentity","id":"00000000-0000-0000-0000-000000001111","appId":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","appOwnerOrganizationId":null},{"@odata.type":"#microsoft.graph.agentIdentity","id":"00000000-0000-0000-0000-000000001111","appId":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","appOwnerOrganizationId":null},{"id":"00000000-0000-0000-0000-000000001111","appId":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","appOwnerOrganizationId":"00000000-0000-0000-0000-000000001111"},{"id":"00000000-0000-0000-0000-000000001111","appId":"00000000-0000-0000-0000-00000[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/external/connections
  response:
    body:
      string: '{"error":{"code":"UnknownError","message":"","innerError":{"date":"2026-05-14T17:14:52","request-id":"00000000-0000-0000-0000-000000001111","client-request-id":"00000000-0000-0000-0000-000000001111"}}}'
    headers:
      Content-Type:
      - application/json
      X-BackEndHttpStatus:
      - 401,401
      X-CalculatedBETarget:
      - SN7PR14MB7042.NAMPRD14.PROD.OUTLOOK.COM
      X-CalculatedFETarget:
      - SA0PR11CU002.internal.outlook.com
      X-FEServer:
      - MW3PR05CA0022
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"005","RoleInstance":"MWH0EPF000CC4D0"}}'
    status:
      code: 401
      message: Unauthorized
version: 1
