interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/organizations/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/organizations/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/{tenantid}/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/organizations/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/organizations/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/organizations/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/organizations/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":null,"cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: client_id=00000000-0000-0000-0000-000000001111&grant_type=refresh_token&client_info=1&refresh_token=REDACTED_OAUTH_REFRESH_TOKEN&scope=https%3A%2F%2Fservice.powerapps.com%2F%2F.default+offline_access+openid+profile
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-AnchorMailbox:
      - Oid:00000000-0000-0000-0000-000000001111@00000000-0000-0000-0000-000000001111
      x-client-current-telemetry:
      - 4|84,2|
      x-client-last-telemetry:
      - 4|0|||
      x-client-os:
      - win32
      x-client-sku:
      - MSAL.Python
      x-client-ver:
      - 1.35.1
      x-ms-lib-capability:
      - retry-after, h429
    method: POST
    uri: https://login.microsoftonline.com/organizations/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type":"Bearer","scope":"https://service.powerapps.com//user_impersonation
        https://service.powerapps.com//.default","expires_in":4915,"ext_expires_in":4915,"access_token":"REDACTED_OAUTH_ACCESS_TOKEN","refresh_token":"REDACTED_OAUTH_REFRESH_TOKEN","id_token":"REDACTED_OAUTH_ID_TOKEN","client_info":"eyJ1aWQiOiJiNDM5MjNhOS05ZjkzLTQ4MmYtOTM5ZS02NDYxZGVmNmQ3ODYiLCJ1dGlkIjoiOTM1ODg0ZDctYmRlZS00NjliLWE0NjEtZmNjNTMwYTNhYzgzIn0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bap.microsoft.com/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/00000000-0000-0000-0000-000000001111","type":"Microsoft.BusinessAppPlatform/scopes/environments","location":"unitedstates","name":"00000000-0000-0000-0000-000000001111","properties":{"tenantId":"00000000-0000-0000-0000-000000001111","azureRegion":"eastus","displayName":"Mock
        Display Name","createdTime":"2025-08-25T07:42:18.5850778Z","createdBy":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","email":"mock.user@contoso.com","type":"User","tenantId":"00000000-0000-0000-0000-000000001111","userPrincipalName":"mock.user@contoso.com"},"lastModifiedTime":"2026-01-30T12:11:56.8651032Z","provisioningState":"Succeeded","creationType":"User","environmentSku":"Production","isDefault":false,"clientUris":{"admin":"https://admin.powerplatform.microsoft.com/environments/environment/00000000-0000-0000-0000-000000001111/hub","maker":"https://make.powerapps.com/environments/00000000-0000-0000-0000-000000001111/home"},"runtimeEndpoints":{"microsoft.BusinessAppPlatform":"https://unitedstates.api.bap.microsoft.com","microsoft.CommonDataModel":"https://unitedstates.api.cds.microsoft.com","microsoft.PowerApps":"https://unitedstates.api.powerapps.com","microsoft.PowerAppsAdvisor":"https://unitedstates.api.advisor.powerapps.com","microsoft.PowerVirtualAgents":"https://powervamg.us-il000.gateway.prod.island.powerapps.com","microsoft.ApiManagement":"https://management.usa.azure-apihub.net","microsoft.Flow":"https://us.api.flow.microsoft.com"},"databaseType":"CommonDataService","linkedEnvironmentMetadata":{"resourceId":"00000000-0000-0000-0000-000000001111","friendlyName":"Mock
        Friendly Name","uniqueName":"unqmocktenant","domainName":"orgmocktenant","version":"9.2.26053.152","instanceUrl":"https://orgmocktenant.crm.dynamics.com/","instanceApiUrl":"https://orgmocktenant.api.crm.dynamics.com","baseLanguage":1033,"instanceState":"Ready","createdTime":"2025-08-25T07:46:44.85Z","securityGroupId":"00000000-0000-0000-0000-000000001111","backgroundOperationsState":"Enabled","scaleGroup":"MOCKCRMLIVESG000","crmGeo":"NAM","platformSku":"Standard","schemaType":"Standard","isDormant":false},"trialScenarioType":"None","notificationMetadata":{"state":"mc","branding":"NotSpecific"},"retentionPeriod":"P7D","states":{"management":{"id":"Ready"},"runtime":{"runtimeReasonCode":"NotSpecified","requestedBy":{"displayName":"Mock
        Display Name","type":"NotSpecified"},"id":"Enabled"},"disasterRecovery":{"copyLocation":"NearCopy","id":"Disabled"}},"updateCadence":{"id":"Frequent"},"retentionDetails":{"retentionPeriod":"P7D","backupsAvailableFromDateTime":"2026-06-15T18:52:23.9335392Z"},"protectionStatus":{"keyManagedBy":"Microsoft"},"cluster":{"category":"Prod","number":"106","uriSuffix":"us-il000.gateway.prod.island","geoShortName":"US","environment":"Prod","scaleGroupId":"00000000-0000-0000-0000-000000001111"},"connectedGroups":[],"lifecycleOperationsEnforcement":{"allowedOperations":[{"type":{"id":"Move"}},{"type":{"id":"Backup"}},{"type":{"id":"Convert"}},{"type":{"id":"Copy"}},{"type":{"id":"Delete"}},{"type":{"id":"Edit"}},{"type":{"id":"Recover"}},{"type":{"id":"Restore"}},{"type":{"id":"UpdateProtectionStatus"}},{"type":{"id":"SwapNetworkInjection"}},{"type":{"id":"RevertNetworkInjection"}},{"type":{"id":"NewIdentity"}},{"type":{"id":"SwapIdentity"}},{"type":{"id":"RevertIdentity"}},{"type":{"id":"Enable"}},{"type":{"id":"Disable"}},{"type":{"id":"EnableGovernanceConfiguration"}},{"type":{"id":"PrepareTenantToTenant"}},{"type":{"id":"MigrateTenantToTenant"}}],"disallowedOperations":[{"type":{"id":"Provision"},"reason":{"message":"Provision
        cannot be performed because there is no linked CDS instance or the CDS instance
        version is not supported.","type":"CdsLink"}},{"type":{"id":"Unlock"},"reason":{"message":"Unlock
        cannot be performed because there is no linked CDS instance or the CDS instance
        version is not supported.","type":"CdsLink"}},{"type":{"id":"Promote"},"reason":{"message":"Promote
        cannot be performed on environment of type Production.","type":"EnvironmentSkuTy[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.flow.microsoft.com/providers/Microsoft.ProcessSimple/scopes/admin/environments/00000000-0000-0000-0000-000000001111/v2/flows?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"name":"00000000-0000-0000-0000-000000001111","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111","type":"Microsoft.ProcessSimple/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Mock
        Display Name","state":"mc","createdTime":"2026-04-28T20:46:59Z","lastModifiedTime":"2026-06-19T21:09:59Z","flowSuspensionReason":"None","environment":{"name":"00000000-0000-0000-0000-000000001111","type":"Microsoft.ProcessSimple/environments","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111"},"creator":{"tenantId":"00000000-0000-0000-0000-000000001111","objectId":"00000000-0000-0000-0000-000000001111","userId":"00000000-0000-0000-0000-000000001111","userType":"ActiveDirectory"},"flowFailureAlertSubscribed":false,"workflowEntityId":"00000000-0000-0000-0000-000000001111","workflowUniqueId":"00000000-0000-0000-0000-000000001111","isManaged":false}},{"name":"00000000-0000-0000-0000-000000001111","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111","type":"Microsoft.ProcessSimple/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Mock
        Display Name","state":"mc","createdTime":"2026-04-28T20:46:59Z","lastModifiedTime":"2026-06-19T21:09:57Z","flowSuspensionReason":"None","environment":{"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.flow.microsoft.com/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111/runs?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"name":"08584196324201201282704523104CU09","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111/runs/08584196324201201282704523104CU09","type":"Microsoft.ProcessSimple/environments/flows/runs","properties":{"startTime":"2026-06-20T16:54:25.3662755Z","endTime":"2026-06-20T16:54:43.2358232Z","status":"Succeeded","correlation":{"clientTrackingId":"08584196324201201282704523104CU09","clientKeywords":["BotSchemaName:msdyn_copilotforemployeeselfservicehr,ChannelId:m365copilot,CdsBotId:00000000-0000-0000-0000-000000001111,lcat:M365_COPILOT_USER,lc:,u:"]},"trigger":{"name":"manual","inputsLink":{"uri":"https://00000000000000000000000000000.fc.environment.api.powerplatformusercontent.com/powerautomate/automations/direct/workflows/00000000000000000000000000000000/runs/08584196324201201282704523104CU09/contents/TriggerInputs?api-version=1&islandNumber=101&se=2026-06-22T22%3A00%3A00.0000000Z&sp=%2Fruns%2F08584196324201201282704523104CU09%2Fcontents%2FTriggerInputs%2Fread&sv=1.0&sig=REDACTED","contentVersion":"x/8+m4JaslzQ+h1wnnzPcg==","contentSize":369,"contentHash":{"algorithm":"md5","value":"x/8+m4JaslzQ+h1wnnzPcg=="}},"outputsLink":{"uri":"https://00000000000000000000000000000.fc.environment.api.powerplatformusercontent.com/powerautomate/automations/direct/workflows/00000000000000000000000000000000/runs/08584196324201201282704523104CU09/contents/TriggerOutputs?api-version=1&islandNumber=101&se=2026-06-22T22%3A00%3A00.0000000Z&sp=%2Fruns%2F08584196324201201282704523104CU09%2Fcontents%2FTriggerOutputs%2Fread&sv=1.0&sig=REDACTED","contentVersion":"/iXdYzvhjeiJZRdEj5t9FQ==","contentSize":2930,"contentHash":{"algorithm":"md5","value":"/iXdYzvhjeiJZRdEj5t9FQ=="}},"startTime":"2026-06-20T16:54:25.3631984Z","endTime":"2026-06-20T16:54:25.3631984Z","originHistoryName":"08584196324201201282704523104CU09","correlation":{"clientTrackingId":"08584196324201201282704523104CU09","clientKeywords":["BotSchemaName:msdyn_copilotforemployeeselfservicehr,ChannelId:m365copilot,CdsBotId:00000000-0000-0000-0000-000000001111,lcat:M365_COPILOT_USER,lc:,u:"]},"status":"Succeeded"},"response":{"name":"Respond_to_Copilot_with_Success","outputsLink":{"uri":"https://00000000000000000000000000000.fc.environment.api.powerplatformusercontent.com:443/powerautomate/automations/direct/workflows/00000000000000000000000000000000/runs/08584196324201201282704523104CU09/contents/ResponseOutputs?api-version=1&islandNumber=101&se=2026-06-22T22%3A00%3A00.0000000Z&sp=%2Fruns%2F08584196324201201282704523104CU09%2Fcontents%2FResponseOutputs%2Fread&sv=1.0&sig=REDACTED","contentVersion":"eVQkpsKdhbbfVCaP7vHKyw==","contentSize":705,"contentHash":{"algorithm":"md5","value":"eVQkpsKdhbbfVCaP7vHKyw=="}},"startTime":"2026-06-20T16:54:25.3663049Z","endTime":"2026-06-20T16:54:43.1695134Z","correlation":{"clientTrackingId":"08584196324201201282704523104CU09","clientKeywords":["BotSchemaName:msdyn_copilotforemployeeselfservicehr,ChannelId:m365copilot,CdsBotId:00000000-0000-0000-0000-000000001111,lcat:M365_COPILOT_USER,lc:,u:"]},"code":"OK","status":"Succeeded"},"isAborted":false},"isMigrationSource":false},{"name":"08584197030933639683045778686CU16","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111/runs/08584197030933639683045778686CU16","type":"Microsoft.ProcessSimple/environments/flows/runs","properties":{"startTime":"2026-06-19T21:16:32.1172051Z","endTime":"2026-06-19T21:16:35.9263957Z","status":"Succeeded","correlation":{"clientTrackingId":"08584197030933639683045778686CU16","clientKeywords":["BotSchemaN[...]
[...]
