interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/oauth_entity?sysparm_query=type=external_client&sysparm_fields=name,client_id,redirect_url,active,refresh_lifetime,access_token_lifetime,sys_id&sysparm_limit=20
  response:
    body:
      string: '{"result":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Is-Logged-In:
      - 'true'
      X-Total-Count:
      - '0'
      X-Transaction-ID:
      - 14e78fce83bc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/sys_user?sysparm_query=active=true&sysparm_limit=5&sysparm_fields=user_name,name,active,roles
  response:
    body:
      string: '{"result":[{"user_name":"mock.user.001","roles":"","name":" Mock User One","active":"true"},{"user_name":"mock.user.005","roles":"","name":"A
        Lopez","active":"true"},{"user_name":"mock.user.002","roles":"","name":"Abel
        Phelps","active":"true"},{"user_name":"mock.user.003","roles":"","name":"Abel
        Tuter","active":"true"},{"user_name":"mock.user.004","roles":"","name":"Abraham
        Lincoln","active":"true"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <https://devmocktenant.service-now.com/api/now/table/sys_user?sysparm_query=active=true&sysparm_limit=5&sysparm_fields=user_name,name,active,roles&sysparm_offset=0>;rel="first",<https://devmocktenant.service-now.com/api/now/table/sys_user?sysparm_query=active=true&sysparm_limit=5&sysparm_fields=user_name,name,active,roles&sysparm_offset=5>;rel="next",<https://devmocktenant.service-now.com/api/now/table/sys_user?sysparm_query=active=true&sysparm_limit=5&sysparm_fields=user_name,name,active,roles&sysparm_offset=970>;rel="last"
      X-Is-Logged-In:
      - 'true'
      X-Total-Count:
      - '972'
      X-Transaction-ID:
      - a0e7cf4a8374
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/kb_knowledge?sysparm_limit=1&sysparm_fields=number,short_description
  response:
    body:
      string: '{"result":[{"number":"KB0089008","short_description":"Troubleshooting
        Google Chrome Installation Errors"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <https://devmocktenant.service-now.com/api/now/table/kb_knowledge?sysparm_limit=1&sysparm_fields=number,short_description&sysparm_offset=0>;rel="first",<https://devmocktenant.service-now.com/api/now/table/kb_knowledge?sysparm_limit=1&sysparm_fields=number,short_description&sysparm_offset=-1>;rel="prev",<https://devmocktenant.service-now.com/api/now/table/kb_knowledge?sysparm_limit=1&sysparm_fields=number,short_description&sysparm_offset=1>;rel="next",<https://devmocktenant.service-now.com/api/now/table/kb_knowledge?sysparm_limit=1&sysparm_fields=number,short_description&sysparm_offset=396>;rel="last"
      X-Is-Logged-In:
      - 'true'
      X-Total-Count:
      - '397'
      X-Transaction-ID:
      - ace70b4a83b0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/user_criteria?sysparm_limit=1&sysparm_fields=name
  response:
    body:
      string: '{"result":[{"name":"Users with GRC business user and lite user role"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <https://devmocktenant.service-now.com/api/now/table/user_criteria?sysparm_limit=1&sysparm_fields=name&sysparm_offset=0>;rel="first",<https://devmocktenant.service-now.com/api/now/table/user_criteria?sysparm_limit=1&sysparm_fields=name&sysparm_offset=-1>;rel="prev",<https://devmocktenant.service-now.com/api/now/table/user_criteria?sysparm_limit=1&sysparm_fields=name&sysparm_offset=1>;rel="next",<https://devmocktenant.service-now.com/api/now/table/user_criteria?sysparm_limit=1&sysparm_fields=name&sysparm_offset=84>;rel="last"
      X-Is-Logged-In:
      - 'true'
      X-Total-Count:
      - '85'
      X-Transaction-ID:
      - 74e7cf0e83b8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/sys_user_group?sysparm_limit=1&sysparm_fields=name
  response:
    body:
      string: '{"result":[{"name":"Analytics Settings Managers"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <https://devmocktenant.service-now.com/api/now/table/sys_user_group?sysparm_limit=1&sysparm_fields=name&sysparm_offset=0>;rel="first",<https://devmocktenant.service-now.com/api/now/table/sys_user_group?sysparm_limit=1&sysparm_fields=name&sysparm_offset=-1>;rel="prev",<https://devmocktenant.service-now.com/api/now/table/sys_user_group?sysparm_limit=1&sysparm_fields=name&sysparm_offset=1>;rel="next",<https://devmocktenant.service-now.com/api/now/table/sys_user_group?sysparm_limit=1&sysparm_fields=name&sysparm_offset=81>;rel="last"
      X-Is-Logged-In:
      - 'true'
      X-Total-Count:
      - '82'
      X-Transaction-ID:
      - 01e7c78a83fc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/sys_user_role?sysparm_limit=1&sysparm_fields=name
  response:
    body:
      string: '{"result":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Link:
      - <https://devmocktenant.service-now.com/api/now/table/sys_user_role?sysparm_limit=1&sysparm_fields=name&sysparm_offset=0>;rel="first",<https://devmocktenant.service-now.com/api/now/table/sys_user_role?sysparm_limit=1&sysparm_fields=name&sysparm_offset=-1>;rel="prev",<https://devmocktenant.service-now.com/api/now/table/sys_user_role?sysparm_limit=1&sysparm_fields=name&sysparm_offset=1>;rel="next",<https://devmocktenant.service-now.com/api/now/table/sys_user_role?sysparm_limit=1&sysparm_fields=name&sysparm_offset=709>;rel="last"
      X-Is-Logged-In:
      - 'true'
      X-Total-Count:
      - '710'
      X-Transaction-ID:
      - 0de7cf4e83b0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/sys_security_acl?sysparm_query=type=REST_Endpoint&sysparm_fields=name,operation,active,role&sysparm_limit=10
  response:
    body:
      string: '{"result":[{"name":"ux_framework_builder_api_experiences","active":"true","operation":{"link":"https://devmocktenant.service-now.com/api/now/table/sys_security_operation/execute","value":"execute"}},{"name":"awa_integration_user","active":"true","operation":{"link":"https://devmocktenant.service-now.com/api/now/table/sys_security_operation/execute","value":"execute"}},{"name":"/api/sn_wwna/wwna/","active":"true","operation":{"link":"https://devmocktenant.service-now.com/api/now/table/sys_security_operation/execute","value":"execute"}},{"name":"delete_metadata_hosting_rule_by_type","active":"true","operation":{"link":"https://devmocktenant.service-now.com/api/now/table/sys_securi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/sys_ws_definition?sysparm_query=active=true&sysparm_fields=name,api_id,namespace,active&sysparm_limit=10
  response:
    body:
      string: '{"result":[{"name":"Topic Recommender Review Api","namespace":"sn_topic_recommend","active":"true"},{"name":"Get
        Applications","namespace":"sn_glider","active":"true"},{"name":"Conversation
        Server Preview","namespace":"now","active":"true"},{"name":"Change Request
        Calendar (Internal API)","namespace":"now","active":"true"},{"name":"ServiceNow
        Studio Applications API","namespace":"sn_sns","active":"true"},{"name":"Collaboration
        Slack Event Processor","namespace":"sn_oe_sfs","active":"true"},{"name":"ACE
        Conten[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/sys_ws_operation?sysparm_query=relative_path=/user_criteria&sysparm_fields=name,relative_path,http_method,active&sysparm_limit=5
  response:
    body:
      string: '{"result":[{"http_method":"GET","name":"GetAllUserCriteria","active":"true","relative_path":"/user_criteria"},{"http_method":"GET","name":"GetAllUserCriteria","active":"true","relative_path":"/user_criteria"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Is-Logged-In:
      - 'true'
      X-Total-Count:
      - '2'
      X-Transaction-ID:
      - 61e747c283fc
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://devmocktenant.service-now.com/api/now/table/oauth_entity?sysparm_limit=1
  response:
    body:
      string: '{"error":{"message":"User is not authenticated","detail":"Required
        to provide Auth information"},"status":"failure"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      WWW-Authenticate:
      - Basic realm="Service-now"
    status:
      code: 401
      message: Unauthorized
version: 1
