interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.bap.microsoft.com/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments?api-version=2021-04-01
  response:
    body:
      string: '{"value":[{"id":"/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/00000000-0000-0000-0000-000000001111","type":"Microsoft.BusinessAppPlatform/scopes/environments","location":"unitedstates","name":"00000000-0000-0000-0000-000000001111","properties":{"tenantId":"00000000-0000-0000-0000-000000001111","azureRegion":"eastus","displayName":"Mock Display Name","createdTime":"2025-08-25T07:42:18.5850778Z","createdBy":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock Display Name","email":"mock.user@contoso.com","type":"User","tenantId":"00000000-0000-0000-0000-000000001111","userPrincipalName":"mock.user@contoso.com"},"lastModifiedTime":"2026-01-30T12:11:56.8651032Z","provisioningState":"Succeeded","creationType":"User","environmentSku":"Production","isDefault":false,"clientUris":{"admin":"https://admin.powerplatform.microsoft.com/environments/environment/00000000-0000-0000-0000-000000001111/hub","maker":"https://make.powerapps.com/environments/00000000-0000-0000-0000-000000001111/home"},"runtimeEndpoints":{"microsoft.BusinessAppPlatform":"https://unitedstates.api.bap.microsoft.com","microsoft.CommonDataModel":"https://unitedstates.api.cds.microsoft.com","microsoft.PowerApps":"https://unitedstates.api.powerapps.com","microsoft.PowerAppsAdvisor":"https://unitedstates.api.advisor.powerapps.com","microsoft.PowerVirtualAgents":"https://powervamg.us-il000.gateway.prod.island.powerapps.com","microsoft.ApiManagement":"https://management.usa.azure-apihub.net","microsoft.Flow":"https://us.api.flow.microsoft.com"},"databaseType":"CommonDataService","linkedEnvironmentMetadata":{"resourceId":"00000000-0000-0000-0000-000000001111","friendlyName":"Mock Friendly Name","uniqueName":"unqmocktenant","domainName":"orgmocktenant","version":"9.2.26051.157","instanceUrl":"https://orgmocktenant.crm.dynamics.com/","instanceApiUrl":"https://orgmocktenant.api.crm.dynamics.com","baseLanguage":1033,"instanceState":"Ready","createdTime":"2025-08-25T07:46:44.85Z","securityGroupId":"00000000-0000-0000-0000-000000001111","backgroundOperationsState":"Enabled","scaleGroup":"MOCKCRMLIVESG000","crmGeo":"NAM","platformSku":"Standard","schemaType":"Standard","isDormant":false},"trialScenarioType":"None","notificationMetadata":{"state":"mc","branding":"NotSpecific"},"retentionPeriod":"P7D","states":{"management":{"id":"Ready"},"runtime":{"runtimeReasonCode":"NotSpecified","requestedBy":{"displayName":"Mock Display Name","type":"NotSpecified"},"id":"Enabled"},"disasterRecovery":{"copyLocation":"NearCopy","id":"Disabled"}},"updateCadence":{"id":"Frequent"},"retentionDetails":{"retentionPeriod":"P7D","backupsAvailableFromDateTime":"2026-06-02T18:46:15.6193504Z"},"protectionStatus":{"keyManagedBy":"Microsoft"},"cluster":{"category":"Prod","number":"106","uriSuffix":"us-il000.gateway.prod.island","geoShortName":"US","environment":"Prod","scaleGroupId":"00000000-0000-0000-0000-000000001111"},"connectedGroups":[],"lifecycleOperationsEnforcement":{"allowedOperations":[{"type":{"id":"Move"}},{"type":{"id":"Backup"}},{"type":{"id":"Convert"}},{"type":{"id":"Copy"}},{"type":{"id":"Delete"}},{"type":{"id":"Edit"}},{"type":{"id":"Recover"}},{"type":{"id":"Restore"}},{"type":{"id":"UpdateProtectionStatus"}},{"type":{"id":"SwapNetworkInjection"}},{"type":{"id":"RevertNetworkInjection"}},{"type":{"id":"NewIdentity"}},{"type":{"id":"SwapIdentity"}},{"type":{"id":"RevertIdentity"}},{"type":{"id":"Enable"}},{"type":{"id":"Disable"}},{"type":{"id":"EnableGovernanceConfiguration"}},{"type":{"id":"PrepareTenantToTenant"}},{"type":{"id":"MigrateTenantToTenant"}}],"disallowedOperations":[{"type":{"id":"Provision"},"reason":{"message":"Provision cannot be performed because there is no linked CDS instance or the CDS instance version is not supported.","type":"CdsLink"}},{"type":{"id":"Unlock"},"reason":{"message":"Unlock cannot be performed because there is no linked CDS instance or the CDS instance version is not supported.","type":"CdsLink"}},{"type":{"id":"Promote"},"reason":{"message":"Promote cannot be performed on environment of type Production.","type":"EnvironmentSkuType"}},{"type":{"id":"Reset"},"reason":{"message":"R[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.flow.microsoft.com/providers/Microsoft.ProcessSimple/scopes/admin/environments/00000000-0000-0000-0000-000000001111/v2/flows?api-version=2016-11-01
  response:
    body:
      string: '{"value":[{"name":"00000000-0000-0000-0000-000000001111","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111","type":"Microsoft.ProcessSimple/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Mock Display Name","state":"mc","createdTime":"2026-04-28T20:46:59Z","lastModifiedTime":"2026-04-28T20:48:48Z","flowSuspensionReason":"None","environment":{"name":"00000000-0000-0000-0000-000000001111","type":"Microsoft.ProcessSimple/environments","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111"},"creator":{"tenantId":"00000000-0000-0000-0000-000000001111","objectId":"00000000-0000-0000-0000-000000001111","userId":"00000000-0000-0000-0000-000000001111","userType":"ActiveDirectory"},"flowFailureAlertSubscribed":false,"workflowEntityId":"00000000-0000-0000-0000-000000001111","workflowUniqueId":"00000000-0000-0000-0000-000000001111","isManaged":false}},{"name":"00000000-0000-0000-0000-000000001111","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111","type":"Microsoft.ProcessSimple/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Mock Display Name","state":"mc","createdTime":"2026-04-28T20:46:59Z","lastModifiedTime":"2026-04-28T20:48:39Z","flowSuspensionReason":"None","environment":{"name":"0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.flow.microsoft.com/providers/Microsoft.ProcessSimple/scopes/admin/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111?api-version=2016-11-01
  response:
    body:
      string: '{"name":"00000000-0000-0000-0000-000000001111","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111","type":"Microsoft.ProcessSimple/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Mock Display Name","userType":"Owner","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"Request","kind":"Skills","inputs":{"schema":{"type":"object","properties":{"text_1":{"description":"Please enter the scenario name","title":"scenarioName","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text":{"description":"Please enter your input","title":"parameters","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["text_1","text"]}}}},"actions":{"Initialize_intermediate_resultArray":{"runAfter":{"Transform_Workday_XML_Template_to_Json":["Succeeded"]},"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"InitializeVariable","inputs":{"variables":[{"name":"intermediateResultArray","type":"object","value":{}}]}},"Respond_to_Copilot_with_Success":{"runAfter":{"Compose_-_Append_IsManager_to_WorkdayResponse":["Succeeded"]},"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"Response","kind":"Skills","inputs":{"schema":{"type":"object","properties":{"workdayresponse":{"title":"workdayResponse","x-ms-dynamically-added":true,"type":"string"},"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"boolean"}},"additionalProperties":{}},"statusCode":200,"body":{"workdayresponse":"@{outputs(''Compose_-_Append_IsManager_to_WorkdayResponse'')}","issuccess":true}}},"Generate_XML_request":{"runAfter":{"Initialize_UserIsManager":["Succeeded"]},"limit":{"timeout":"P1M"},"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"OpenApiConnection","inputs":{"parameters":{"actionName":"msdyn_WorkdayXmlRequestPlugin","item/RequestXmlTemplateParameter":"@string(outputs(''Compose_-_Append_Employee_ID_to_InputParams''))","item/RequestXmlTemplate":"@json(outputs(''Transform_Workday_XML_Template_to_Json'')?[''body/ResponseWorkdayXmlTemplates''])[first(variables(''scenario'')[''apiRequests''])?[''endpoint''][''request'']]","item/RequestIntermediateResultArray":"@string(variables(''intermediateResultArray''))","item/RequestScenarioApi":"@string(first(variables(''scenario'')[''apiRequests'']))"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","operationId":"PerformUnboundAction","connectionName":"shared_commondataserviceforapps"},"retryPolicy":{"type":"none"}}},"Extract_data_from_response":{"runAfter":{"Single_Execute_SOAP_operation":["Succeeded"]},"limit":{"timeout":"P1M"},"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"OpenApiConnection","inputs":{"parameters":{"actionName":"msdyn_WorkdayComposeResponse","item/RequestIntermediateResultArray":"@string(variables(''intermediateResultArray''))","item/RequestScenarioApi":"@first(json(outputs(''Transform_Workday_XML_Template_to_Json'')?[''body/ResponseScenario''])?[''apiRequests''])","item/RequestWorkdayConnectorResponse":"@string(body(''Single_[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.flow.microsoft.com/providers/Microsoft.ProcessSimple/scopes/admin/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111?api-version=2016-11-01
  response:
    body:
      string: '{"name":"00000000-0000-0000-0000-000000001111","id":"/providers/Microsoft.ProcessSimple/environments/00000000-0000-0000-0000-000000001111/flows/00000000-0000-0000-0000-000000001111","type":"Microsoft.ProcessSimple/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Mock Display Name","userType":"Owner","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Minute","interval":15,"startTime":"2022-09-07T04:30:00Z"},"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"Recurrence"}},"actions":{"trigger_Sync_API":{"runAfter":{},"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"msdyn_TriggerIntegratedSearchSync"},"authentication":"@parameters(''$authentication'')"}},"trigger_Ingestion_API":{"runAfter":{},"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"msdyn_TriggerIntegratedSearchIngestion"},"authentication":"@parameters(''$authentication'')"}},"Condition":{"actions":{"trigger_Analytics_API":{"runAfter":{},"metadata":{"operationMetadataId":"00000000-0000-0000-0000-000000001111"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"msdyn_TriggerIntegratedSearchAnalytics"},"authentication":"@parameters(''$authentication'')"}}},"runAfter":{},"else":{"actions":{}},"expression":{"and":[{"greaterOrEquals":["@utcNow()","@startOfDay(utcNow())"]},{"lessOrEquals":["@utcNow()","@addMinutes(startOfDay(utcNow()), 15)"]}]},"type":"If"}}},"state":"mc","sharingType":"CommonDataService","connectionReferences":{"shared_commondataserviceforapps":{"connectionReferenceLogicalName":"msdyn_Dataverse","apiDefinition":{"name":"shared_commondataserviceforapps","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Mock Display Name","iconUri":"https://static.powerapps.com/resource/ppcr/releases/v1.0.1811/1.0.1811.4743/commondataserviceforapps/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"dynamicscrmonlinecertificate","clientId":"00000000-0000-0000-0000-000000001111","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/commondataserviceforapps","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUriAAD":{"value":"https://disco.crm.dynamics.com/"},"resourceUri":{"value":"https://disco.crm.dynamics.com/"},"loginUri":{"value":"https://login.microsoftonline.com"},"loginUriAAD":{"value":"https://login.microsoftonline.com"}}}},"environment":{"type":"string","uiDefinition":{"displayName":"Mock Display Name","description":"Environment id","tooltip":"Environment id","constraints":{"required":"false","hidden":"true"}}},"token:clientId":{"type":"string","uiDefinition":{"displayName":"Mock Display Name","description":"Client (or Application) ID of the Microsoft Entra ID application.","constraints":{"required":"false","hidden":"true"}}},"token:clientSecret":{"type":"securestring","uiDefinition":{"displayName":"Mock Display Name","description":"Client secret of the Microsoft Entra ID application.","constraints":{"required":"false","hidden":"true"}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Mock Display Name","description":"The tenant ID of for the Microsoft Entra ID application.","constraints":{"required":"false","hidden":"true"}}},"token:resourceUri":{"type":"string","uiDefinition":{"displayName":"Mock Display Name","description":"The resource you are requesting authorization to use.","constraints":{"required":"false","hidden":"true"}}},"token:grantType":{"type":"string","allowedValues":[{"value":"code"},{"value":"client_credentials"}],"uiDefinition":{"displayName":"Mock Display Name","description":"Grant type","constraints":{"required":"false","hidden":"true","allowedValues":[{"text":"Code","value":"code"},{"text":"Client Credentials","value":"client_credentials"}]}}}},"connectionParameterSets":{"uiDefinition":{"displayName":"Mock Display Name","description":"Type of authentication to be used"},"values":[{"name":"Oauth","uiDefinition":{"displayName":"Mock Display Name","description":"Oauth"},"parameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"dynamicscrmonlinecertificate","clientId":"00000000-0000-0000-0000-000000001111","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/commondataserviceforapps","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUriAAD":{"va[...]
