interactions:
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/organization
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#organization","value":[{"id":"00000000-0000-0000-0000-000000001111","deletedDateTime":null,"businessPhones":[],"city":"Mocktown","country":null,"countryLetterCode":"MC","createdDateTime":"2024-07-29T19:23:19Z","defaultUsageLocation":null,"displayName":"Mock
        Display Name","isMultipleDataLocationsForServicesEnabled":null,"marketingNotificationEmails":[],"onPremisesLastSyncDateTime":null,"onPremisesSyncEnabled":null,"partnerTenantType":null,"postalCode":"00000","preferredLanguage":"en","securityComplianceNotificationMails":[],"securityComplianceNotificationPhones":[],"state":"mc","street":"1
        Mock Street","technicalNotificationMails":["mock.user@contoso.com"],"tenantType":"AAD","directorySizeQuota":{"used":4744,"total":300000},"privacyProfile":null,"assignedPlans":[{"assignedDateTime":"2026-04-04T16:22:00Z","capabilityStatus":"Suspended","service":"MicrosoftCommunicationsOnline","servicePlanId":"00000000-0000-0000-0000-000000001111"},{"assignedDateTime":"2026-04-04T16:22:00Z","capabilityStatus":"Suspended","service":"MicrosoftStream","servicePlanId":"00000000-0000-0000-0000-000000001111"},{"assignedDateTime":"2026-04-04T16:22:00Z","capabilityStatus":"Suspended","service":"CRM","servicePlanId":"00000000-0000-0000-0000-000000001111"},{"assignedDateTime":"2026-04-04T16:22:00Z","capabilityStatus":"Suspended","service":"TeamspaceAPI","servicePlanId":"00000000-0000-0000-0000-000000001111"},{[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/users?%24top=10
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users","@odata.nextLink":"https://graph.microsoft.com/v1.0/users?$top=10&$skiptoken=RFNwdAIAAQAAACY6YWRtaW51c2VyQEVtcGxveWVlSHViLm9ubWljcm9zb2Z0LmNvbSlVc2VyXzQyZTIwNjM3LTBkOGUtNGUyNi1hYzEzLTAxMjc4OGE0NmI3NbkAAAAAAAAAAAAA","value":[{"businessPhones":[],"displayName":"Mock
        Display Name","givenName":"Aban","jobTitle":"Product Manager","mail":"mock.user@contoso.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":"Unlicensed","userPrincipalName":"mock.user@contoso.com","id":"00000000-0000-0000-0000-000000001111"},{"businessPhones":[],"displayName":"Mock
        Display Name","givenName":"Abel","jobTitle":null,"mail":"mock.user@contoso.com","mobilePhone":null,"officeLocation":null,"preferredLanguage":null,"surname":"Tuter","userPrincipalName":"mock.user@contoso.com","id":"00000000-0000-0000-0000-000000001111"},{"businessPhones":[],"displayName":"Mock
        Display Name","givenName":"Abraham","jobTitle":null,"mail":"mock.user@contoso.co[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/directoryRoles
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryRoles","value":[{"id":"00000000-0000-0000-0000-000000001111","deletedDateTime":null,"description":"Can
        manage Active Directory to Microsoft Entra cloud provisioning, Microsoft Entra
        Connect, and federation settings.","displayName":"Mock Display Name","roleTemplateId":"00000000-0000-0000-0000-000000001111"},{"id":"00000000-0000-0000-0000-000000001111","deletedDateTime":null,"description":"Allowed
        to view, set and reset authentication method information for any non-admin
        user.","displayName":"Mock Display Name","roleTemplateId":"00000000-0000-0000-0000-000000001111"},{"id":"00000000-0000-0000-0000-000000001111","deletedDateTime":null,"description":"Can
        approve Microsoft support requests to access customer organizational data.","displayN[...]
- request:
    body: null
    headers:
      ConsistencyLevel:
      - eventual
    method: GET
    uri: https://graph.microsoft.com/v1.0/identity/conditionalAccess/policies
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies","value":[{"id":"00000000-0000-0000-0000-000000001111","templateId":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","createdDateTime":"2025-08-04T19:58:02.4400991Z","modifiedDateTime":"2026-05-06T06:09:43.3737052Z","state":"mc","deletedDateTime":null,"conditions":{"userRiskLevels":[],"signInRiskLevels":["high"],"clientAppTypes":["all"],"servicePrincipalRiskLevels":[],"insiderRiskLevels":null,"platforms":null,"locations":null,"devices":null,"clientApplications":null,"authenticationFlows":null,"applications":{"includeApplications":["All"],"excludeApplications":[],"includeUserActions":[],"includeAuthenticationContextClassReferences":[],"applicationFilter":null},"users":{"includeUsers":[],"excludeUsers":["00000000-0000-0000-0000-000000001111"],"includeGroups":["00000000-0000-0000-0000-000000001111"],"excludeGroups":["00000000-0000-0000-0000-000000001111"],"includeRoles":[],"excludeRoles":[],"includeGuestsOrExternalUsers":null,"excludeGuestsOrExternalUsers":null}},"grantControls":{"operator":"OR","builtInControls":["mfa"],"customAuthenticationFactors":[],"termsOfUse":[],"mock.user@contoso.com":"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies(''00000000-0000-0000-0000-000000001111'')/grantControls/authenticationStrength/$entity","authenticationStrength":null},"sessionControls":{"disableResilienceDefaults":null,"applicationEnforcedRestrictions":null,"cloudAppSecurity":null,"persistentBrowser":null,"secureSignInSession":null,"signInFrequency":{"value":null,"type":null,"authenticationType":"primaryAndSecondaryAuthentication","frequencyInterval":"everyTime","isEnabled":true}}},{"id":"00000000-0000-0000-0000-000000001111","templateId":null,"displayName":"Mock
        Display Name","createdDateTime":"2026-04-16T05:58:28.2104028Z","modifiedDateTime":"2026-05-06T06:09:46.6038041Z","state":"mc","deletedDateTime":null,"sessionControls":null,"conditions":{"userRiskLevels":[],"signInRiskLevels":[],"clientAppTypes":["all"],"servicePrincipalRiskLevels":[],"insiderRiskLevels":null,"platforms":null,"devices":null,"clientApplications":null,"authenticationFlows":null,"applications":{"includeApplications":[],"excludeApplications":[],"includeUserActions":["urn:user:registersecurityinfo"],"includeAuthenticationContextClassReferences":[],"applicationFilter":null},"users":{"includeUsers":["All"],"excludeUsers":["00000000-0000-0000-0000-000000001111","00000000-0000-0000-0000-000000001111"],"includeGroups":[],"excludeGroups":["00000000-0000-0000-0000-000000001111"],"includeRoles":[],"excludeRoles":[],"includeGuestsOrExternalUsers":null,"excludeGuestsOrExternalUsers":null},"locations":{"includeLocations":["All"],"excludeLocations":[]}},"grantControls":{"operator":"OR","builtInControls":["block"],"customAuthenticationFactors":[],"termsOfUse":[],"mock.user@contoso.com":"https://graph.microsoft.com/v1.0/$metadata#identity/conditionalAccess/policies(''00000000-0000-0000-0000-000000001111'')/grantControls/authenticationStrength/$entity","authenticationStrength":null}}]}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      OData-Version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"West US 2","Slice":"E","Ring":"4","ScaleUnit":"004","RoleInstance":"MW2PEPF00013F6A"}}'
    status:
      code: 200
      message: OK
version: 1
