interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://login.microsoftonline.com/00000000-0000-0000-0000-000000001111/v2.0/.well-known/openid-configuration
  response:
    body:
      string: '{"token_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000001111/oauth2/v2.0/token","token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secret_basic","self_signed_tls_client_auth"],"jwks_uri":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000001111/discovery/v2.0/keys","response_modes_supported":["query","fragment","form_post"],"subject_types_supported":["pairwise"],"id_token_signing_alg_values_supported":["RS256"],"response_types_supported":["code","id_token","code
        id_token","id_token token"],"scopes_supported":["openid","profile","email","offline_access"],"issuer":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000001111/v2.0","request_uri_parameter_supported":false,"userinfo_endpoint":"https://graph.microsoft.com/oidc/userinfo","authorization_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000001111/oauth2/v2.0/authorize","device_authorization_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000001111/oauth2/v2.0/devicecode","http_logout_supported":true,"frontchannel_logout_supported":true,"end_session_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000001111/oauth2/v2.0/logout","claims_supported":["sub","iss","cloud_instance_name","cloud_instance_host_name","cloud_graph_host_name","msgraph_host","aud","exp","iat","auth_time","acr","nonce","preferred_username","name","tid","ver","at_hash","c_hash","email"],"kerberos_endpoint":"https://login.microsoftonline.com/00000000-0000-0000-0000-000000001111/kerberos","mtls_endpoint_aliases":{"token_endpoint":"https://mtlsauth.microsoft.com/00000000-0000-0000-0000-000000001111/oauth2/v2.0/token"},"tls_client_certificate_bound_access_tokens":true,"tenant_region_scope":"NA","cloud_instance_name":"microsoftonline.com","cloud_graph_host_name":"graph.windows.net","msgraph_host":"graph.microsoft.com","rbac_url":"https://pas.windows.net"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-cci-applicationsource:
      - Web
      x-cci-cdsbotid:
      - 00000000-0000-0000-0000-000000001111
      x-cci-tenantid:
      - 00000000-0000-0000-0000-000000001111
      x-ms-environment-id:
      - 00000000-0000-0000-0000-000000001111
      x-ms-user-agent:
      - 'PVA-Portal/1.0.0 (Web; ReactNative: false)'
    method: GET
    uri: https://powervamg.us-il000.gateway.prod.island.powerapps.com/api/botmanagement/v1/environments/00000000-0000-0000-0000-000000001111/bots
  response:
    body:
      string: '[{"id":"00000000-0000-0000-0000-000000001111","aadTenantId":"00000000-0000-0000-0000-000000001111","name":"MockBot_HR","region":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","primarySecurityGroupId":null,"default":false,"url":null,"expiration":null,"expiringInDays":null,"locationId":null,"locationDisplayName":null,"environmentSku":null,"isLiteSku":null,"isTeamsLinked":false,"state":"mc"},"regionId":"00000000-0000-0000-0000-000000001111","cdsBotId":"00000000-0000-0000-0000-000000001111","users":[],"provisioningStatus":501,"isManaged":true,"isCustomizable":true,"language":"en-US","languageCode":1033,"almMigrationState":"Migrated","requiresFlowRegistration":false,"lastPublishedVersion":null,"cdsBotConfiguration":{"categories":[],"channels":[],"settings":{"GenerativeActionsEnabled":true},"publishOnCreate":false,"publishOnImport":true,"isLightweightBot":false,"$kind":"BotConfiguration","isAgentConnectable":true,"gPTSettings":{"$kind":"GPTSettings","defaultSchemaName":"msdyn_copilotforemployeeselfservicehr.gpt.default"},"aISettings":{"$kind":"AISettings","useModelKnowledge":false,"isFileAnalysisEnabled":false,"isSemanticSearchEnabled":true,"contentModeration":"High","optInUseLatestModels":false},"recognizer":{"$kind":"GenerativeAIRecognizer"}},"createStatus":null},{"id":"00000000-0000-0000-0000-000000001111","aadTenantId":"00000000-0000-0000-0000-000000001111","name":"MockBot_IT","region":{"id":"00000000-0000-0000-0000-000000001111","displayName":"Mock
        Display Name","primarySecurityGroupId":null,"default":false,"url":null,"expiration":null,"expiringInDays":null,"locationId":null,"locationDisplayName":null,"environmentSku":null,"isLiteSku":null,"isTeamsLinked":false,"state":"mc"},"regionId":"00000000-0000-0000-0000-000000001111","cdsBotId":"00000000-0000-0000-0000-000000001111","users":[],"provisioningStatus":501,"isManaged":true,"isCustomizable":true,"language":"en-US","languageCode":1033,"almMigrationState":"Migrated","requiresFlowRegistration":false,"lastPublishedVersion":null,"cdsBotConfiguration":{"categories":[],"channels":[],"settings":{"GenerativeActionsEnabled":true},"publishOnCreate":false,"publishOnImport":true,"isLightweightBot":false,"$kind":"BotConfiguration","isAgentConnectable":true,"gPTSettings":{"$kind":"GPTSettings","defaultSchemaName":"msdyn_copilotforemployeeselfserviceit.gpt.default"},"aISettings":{"$kind":"AISettings","useModelKnowledge":false,"isFileAnalysisEnabled":false,"isSemanticSearchEnabled":true,"contentModeration":"High","optInUseLatestModels":false},"recognizer":{"$kind":"GenerativeAIRecognizer"}},"createStatus":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      mise-correlation-id:
      - 00000000-0000-0000-0000-000000001111
      x-cci-botdesignerserver-buildid:
      - 2026.4.3.12695
      x-ms-activity-vector:
      - 00.00.00
      x-ms-igw-tracking-id:
      - fe4c9443-0c63-4160-a015-5b16230597be20260512211626_prdil107eusgb0_4
      x-ms-islandgateway:
      - _prdil107eusgb0_4
      x-ms-service-request-id:
      - REDACTED
      x-servicefabric:
      - NoRetry
    status:
      code: 200
      message: OK
- request:
    body: '{"componentDeltaToken":""}'
    headers:
      Content-Type:
      - application/json
      x-cci-applicationsource:
      - Web
      x-cci-cdsbotid:
      - 00000000-0000-0000-0000-000000001111
      x-cci-tenantid:
      - 00000000-0000-0000-0000-000000001111
      x-ms-environment-id:
      - 00000000-0000-0000-0000-000000001111
      x-ms-user-agent:
      - 'PVA-Portal/1.0.0 (Web; ReactNative: false)'
    method: POST
    uri: https://powervamg.us-il000.gateway.prod.island.powerapps.com/api/botmanagement/v1/environments/00000000-0000-0000-0000-000000001111/bots/00000000-0000-0000-0000-000000001111/content/botcomponents
  response:
    body:
      string: '{"botComponentChanges":[{"$kind":"BotComponentInsert","component":{"$kind":"DialogComponent","version":3019209,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true,"solutionId":"00000000-0000-0000-0000-000000001111"},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2025-12-01T07:17:02Z","modifiedTimeUtc":"2025-12-01T07:17:02Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"displayName":"Mock
        Display Name","id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","description":"This
        system topic triggers when the bot receives an Activity indicating the beginning
        of a new conversation. If do not want the bot to initiate the conversation,
        disable this topic.","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","publisherUniqueName":"microsoftfirstparty","schemaName":"msdyn_copilotforemployeeselfservicehr.topic.ConversationStart","dialog":{"$kind":"AdaptiveDialog","beginDialog":{"$kind":"OnConversationStart","actions":[{"$kind":"BeginDialog","id":"Vtg7G9","dialog":{"$kind":"DialogExpression","literalValue":"msdyn_copilotforemployeeselfservicehr.topic.System-UserContext-Createglobalvariables"}},{"$kind":"ConditionGroup","id":"conditionGroup_Tr9mnW","conditions":[{"$kind":"ConditionItem","id":"conditionItem_M6kV2x","condition":{"$kind":"BoolExpression","expressionText":"System.Activity.InvocationSource
        = InvocationSource.Agent"},"displayName":"Mock Display Name"}],"elseActions":[{"$kind":"SendActivity","id":"sendActivity_8evfML","displayName":"Mock
        Display Name","activity":{"$kind":"Message","text":[{"$kind":"TemplateLine","segments":[{"$kind":"TextSegment","value":"Hi
        "},{"$kind":"ExpressionSegment","expression":{"$kind":"ValueExpression","variableReference":"Global.ESS_UserContext_Employee_Firstname"}},{"$kind":"TextSegment","value":",
        I''m here to assist you with any employment-related questions or requests
        you may have. Whether you need help finding policy information, making changes
        to your benefits, or any other employment-related tasks, I can assist you."}]}]}}]}],"id":"main"}}}},{"$kind":"BotComponentInsert","component":{"$kind":"GlobalVariableComponent","version":3019203,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true,"solutionId":"00000000-0000-0000-0000-000000001111"},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2025-12-01T07:17:01Z","modifiedTimeUtc":"2025-12-01T07:17:01Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","publisherUniqueName":"microsoftfirstparty","schemaName":"msdyn_copilotforemployeeselfservicehr.component.ESS_UserContext_Employee_Lastname","variable":{"$kind":"Variable","name":"ESS_UserContext_Employee_Lastname","scope":"User","isExternalInitializationAllowed":false,"initializationTimeoutInMilliseconds":0,"aIVisibility":"Hidden"}}},{"$kind":"BotComponentInsert","component":{"$kind":"DialogComponent","version":3019242,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true,"solutionId":"00000000-0000-0000-0000-000000001111"},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2025-12-01T07:17:08Z","modifiedTimeUtc":"2025-12-01T07:17:08Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"displayName":"Mock
        Display Name","id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","publisherUniqueName":"microsoftfirstparty","schemaName":"msdyn_copilotforemployeeselfservicehr.topic.System-Logger","dialog":{"$kind":"AdaptiveDialog","beginDialog":{"$kind":"OnRedirect","actions":[{"$kind":"LogCustomTelemetryEvent","id":"4ishvf","eventName":{"$kind":"StringExpression","variableReference":"Topic.EventName"},"properties":{"$kind":"ValueExpression","expressionText":"{\n    Message:
        Topic.Message,\n    TimeUTC: Text(Now(), DateTimeFormat.UTC),\n    ConversationId:
        System.Conversation.Id,\n    Channel: System.Activity.ChannelId,\n    AgentId:
        System.Bot.Name\n}"}}],"id":"main"},"inputType":{"$kind":"Record","properties":{"EventName":{"$kind":"PropertyInfo","displayName":"Mock
        Display Name","type":{"$kind":"String"}},"Message":{"$kind":"PropertyInfo","displayName":"Mock
        Display Name","type":{"$kind":"String"}}}}}}},{"$kind":"BotComponentInsert","component":{"$kind":"DialogComponent","version":3019212,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true,"solutionId":"00000000-0000-0000-0000-000000001111"},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2025-12-01T07:17:03Z","modifiedTimeUtc":"2025-12-01T07:17:03Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"displayName":"Mock
        Display Name","id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Inactive","publisherUniqueName":"microsoftfirstparty","schemaName":"msdyn_copilotforemployeeselfservicehr.topic.SensitiveTopics","dialog":{"$kind":"AdaptiveDialog","modelDescription":"**This
        topic should only trigger** when users mention **explicitly sensitive, confidential,
        or legal concerns** such as **harassment and unfair treatment**, **abuse**,
        **discrimination or bias**, **unethical behavior**, or **retaliation or revolt**
        in the workplace. It activates in situations involving or similar to: \n-
        Requests for **HR consultation** related to sensitive matters, \n- **Privacy
        concerns**, \n- **Hostile work environments**, \n- **Workplace violence**,
        \n- **Legal action**, or \n- Reporting of **severe misconduct**. \n\n**Important:**
        This topic **must not** trigger for **general HR-related inquiries** such
        as: \n- Accessing **benefits information** (e.g., W-2 forms, health benefits),
        \n- **Routine workplace questions**, \n- **Performance concerns**, or \n-
        Other **non-sensitive** matters.","beginDialog":{"$kind":"OnRecognizedIntent","actions":[{"$kind":"SendActivity","id":"sendActivity_85pmxq","activity":{"$kind":"Message","text":[{"$kind":"TemplateLine","segments":[{"$kind":"TextSegment","value":"Consulting
        with a professional is the best way to get assistance with this request. Please
        contact a representative for further support."}]}]}},{"$kind":"EndConversation","id":"0kkEm2"},{"$kind":"EndDialog","id":"AVN4jX"}],"id":"main","intent":{"$kind":"Intent","triggerQueries":["sensitive
        topics","discuss sensitive subjects","talk about touchy issues","address controversial
        matters","engage in difficult conversations","explore delicate topics","open
        up about sensitive subjects","navigate challenging discussions","illegal topics"]}}}}},{"$kind":"BotComponentInsert","component":{"$kind":"DialogComponent","version":3019197,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true,"solutionId":"00000000-0000-0000-0000-000000001111"},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2025-12-01T07:17:00Z","modifiedTimeUtc":"2025-12-01T07:17:00Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"displayName":"Mock
        Display Name","id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","publisherUniqueName":"microsoftfirstparty","schemaName":"msdyn_copilotforemployeeselfservicehr.topic.System-OnGeneratedResponse","dialog":{"$kind":"AdaptiveDialog","beginDialog":{"$kind":"OnGeneratedResponse","actions":[{"$kind":"SetVariable","id":"setVariable_cAdqkT","displayName":"Mock
        Display Name","variable":"Topic.ResponseWithOfficialSourceTag","value":{"$kind":"ValueExpression","expressionText":"\"<div><m-official>
        \" & System.Response.FormattedText & \" </m-official></div>\""}},{"$kind":"SetVariable","id":"setVariable_CjKq69","variable":"Topic.DisclaimerToShow","value":{"$kind":"ValueExpression","expressionText":"Blank()"}},{"$kind":"SetVariable","id":"setVariable_ZDoIvx","variable":"System.ContinueResponse","value":{"$kind":"ValueExpression","expressionText":"false"}},{"$kind":"SendActivity","id":"sendActivity_50lBbY","activity":{"$kind":"Message","text":[{"$kind":"TemplateLine","segments":[{"$kind":"ExpressionSegment","expression":{"$kind":"ValueExpression","variableReference":"Topic.ResponseWithOfficialSourceTag"}},{"$kind":"TextSegment","value":"
        "},{"$kind":"ExpressionSegment","expression":{"$kind":"ValueExpression","expressionText":"If(!IsBlank(Topic.DisclaimerToShow),
        Topic.DisclaimerToShow)"}}]}],"citationEntities":{"$kind":"ArrayExpressionOnly_T","variableReference":"System.Response.Citations"}}},{"$kind":"EndDialog","id":"gsbg2J"}],"id":"main"}}}},{"$kind":"BotComponentInsert","component":{"$kind":"DialogComponent","version":3019191,"managedProperties":{"$kind":"ManagedProperties","isManaged":true,"isCustomizable":true,"solutionId":"00000000-0000-0000-0000-000000001111"},"auditInfo":{"$kind":"AuditInfo","createdTimeUtc":"2025-12-01T07:16:59Z","modifiedTimeUtc":"2025-12-01T07:16:59Z","createdBy":"00000000-0000-0000-0000-000000001111","modifiedBy":"00000000-0000-0000-0000-000000001111"},"displayName":"Mock
        Display Name","id":"00000000-0000-0000-0000-000000001111","parentBotId":"00000000-0000-0000-0000-000000001111","shareContext":{"$kind":"ContentShareContext"},"state":"mc","status":"Active","publisherUniqueName":"microsoftfirstparty","schemaName":"msdyn_copilotforemployeeselfservicehr.topic.SeekEmotionalIntelligenceResponse","dialog":{"$kind":"AdaptiveDialog","inputs":[{"$kind":"AutomaticTaskInput","propertyName":"eqResponse","description":"Always
        begin with empathetic acknowledgment (rotate phrases, avoid repetition). Adapt
        to emotion type: Grief/Loss: \u201cI\u2019m so sorry for your loss. Let\u2019s
        handle this with care.\u201d Stress/Anxiety/Overwhelm: Normalize, break steps
        down, set timelines. Performance Anxiety (e.g., promotion concerns): Reassure
        effort, note many feel this way, provide clarity and next steps. Frustration/Confusion
        (e.g., denied leave or form overload): Validate emotion, explain simply, simplify
        process. Urgency/Crisis: Recognize urgency, prioritize fastest fix. Do\u2019s:
        Rotate empathetic phrases (\u201cThis sounds challenging,\u201d \u201cI get
        why this is frustrating\u201d), then transition (\u201cHere\u2019s how we\u2019ll
        tackle this step by step\u201d). Provide guidance, resources, escalation if
        needed, and close with care (\u201cI hope this eases stress; reach out anytime\u201d).
        Don\u2019ts: Provide counseling, medical/legal advice, or overpromise. Avoid
        robotic, defensive, dismissive tone.","shouldPromptUser":true}],"modelDescription":"Purpose:
        Deliver emotionally intelligent support for workplace issues requiring sensitivity,
        compassion, and clarity. Use When: Employee messages involve grief/loss, stress,
        burnout, anxiety, frustration, confusion, performance anxiety, urgency, or
        mental health. Examples: \u201cAm I eligible for a promotion?\u201d (performance
        insecurity), \u201cWhy was my leave denied?\u201d (stress/frustration), \u201cWhy
        so many forms[...]
