interactions:
- request:
    body: grant_type=refresh_token&refresh_token=REDACTED_OAUTH_REFRESH_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/oauth2/mocktenant_xx/token
  response:
    body:
      string: '{"access_token":"REDACTED_OAUTH_ACCESS_TOKEN","token_type":"Bearer","refresh_token":"REDACTED_OAUTH_REFRESH_TOKEN"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/v1/mocktenant_xx/workers?limit=5
  response:
    body:
      string: '{"total":547,"data":[{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","href":"https://wd2-impl-services1.workday.com/api/api/v1/mocktenant_xx/workers/00000000000000000000000000000000","primaryWorkEmail":"mock.user@contoso.com","primaryWorkPhone":"+1
        555-555-0100","isManager":false,"businessTitle":"Mock Title","primarySupervisoryOrganization":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000","href":"https://wd2-impl-services1.workday.com/api/api/v1/mocktenant_xx/supervisoryOrganizations/00000000000000000000000000000000"}},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","href":"https://wd2-impl-services1.workday.com/api/api/v1/mocktenant_xx/workers/00000000000000000000000000000000","primaryWorkEmail":"mock.user@contoso.com","isManager":false,"businessTitle":"Mock
        Ti[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/staffing/v6/mocktenant_xx/workers?limit=5
  response:
    body:
      string: '{"total":547,"data":[{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","person":{"id":"00000000000000000000000000000000","email":"mock.user@contoso.com","phone":"+1
        555-555-0100"},"workerId":"MOCK_EMP_001","workerType":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"primaryJob":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","jobProfile":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","Job_Profile_ID":"39035"},"jobType":{"descriptor":"Mock Descriptor","Job_Type_Name_ID":"Primary"},"location":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","Location_ID":"Chicago_site","country":{"descriptor":"Mock Descriptor","ISO_3166-1_Alpha-3_Code":"USA"}},"businessTitle":"Mock
        Title","supervisoryOrganization":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","Organization_Reference_ID":"Global_Support_USA_Group"}}},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","person":{"id":"00000000000000000000000000000000","email":"mock.user@contoso.com"},"workerId":"MOCK_EMP_001","workerType":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"primaryJob":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","supervisoryOrganization":{"id":"00000000000000000000000000000000","descriptor":"Mock
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/v1/mocktenant_xx/workers/me
  response:
    body:
      string: '{"id":"00000000000000000000000000000000","descriptor":"Mock Descriptor","href":"https://wd2-impl-services1.workday.com/api/api/v1/mocktenant_xx/workers/00000000000000000000000000000000","businessTitle":"Mock
        Title","yearsOfService":5,"isManager":false,"location":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"primaryWorkAddressText":"1
        Mock Street, Mocktown, MC 00000","primaryWorkEmail":"mock.user@contoso.com","primarySupervisoryOrganization":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000","href":"https://wd2-impl-services1.workday.com/api/api/v1/mocktenant_xx/supervisoryOrganizations/00000000000000000000000000000000"},"supervisoryOrganizationsManaged":"https://wd2-impl-services1.workday.com/api/api/v1/mocktenant_xx/workers/00000000000000000000000000000000/supervisoryOrganizationsManaged","dateOfBirth":"1990-01-01"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WD-RateLimit-Tokens-Remaining:
      - '3599'
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/staffing/v6/mocktenant_xx/workers/me
  response:
    body:
      string: '{"id":"00000000000000000000000000000000","descriptor":"Mock Descriptor","person":{"id":"00000000000000000000000000000000","email":"mock.user@contoso.com"},"primaryJob":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","supervisoryOrganization":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","Organization_Reference_ID":"Global_Modern_Services_supervisory"},"businessTitle":"Mock
        Title","location":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","Location_ID":"Boston","country":{"descriptor":"Mock Descriptor","ISO_3166-1_Alpha-3_Code":"USA"}},"jobType":{"descriptor":"Mock
        Descriptor","Job_Type_Name_ID":"Primary"},"jobProfile":{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","Job_Profile_ID":"System_Administrator"}},"workerId":"MOCK_EMP_001","workerType":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WD-RateLimit-Tokens-Remaining:
      - '3599'
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/integration/v1/mocktenant_xx/api-clients?limit=5
  response:
    body:
      string: '{"error":"Not found"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-wd-gid:
      - GID|00000000-0000-0000-0000-000000001111
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/security/v1/mocktenant_xx/authentication-policies?limit=5
  response:
    body:
      string: '{"error":"Invalid request"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-wd-gid:
      - GID|00000000-0000-0000-0000-000000001111
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/integration/v1/mocktenant_xx/system-users?limit=5
  response:
    body:
      string: '{"error":"Not found"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-wd-gid:
      - GID|00000000-0000-0000-0000-000000001111
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/security/v1/mocktenant_xx/security-groups?limit=5
  response:
    body:
      string: '{"error":"Invalid request"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      x-wd-gid:
      - GID|00000000-0000-0000-0000-000000001111
    status:
      code: 400
      message: Bad Request
version: 1
