interactions:
- request:
    body: grant_type=refresh_token&refresh_token=REDACTED_OAUTH_REFRESH_TOKEN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/oauth2/mocktenant_xx/token
  response:
    body:
      string: '{"access_token":"REDACTED_OAUTH_ACCESS_TOKEN","token_type":"Bearer","refresh_token":"REDACTED_OAUTH_REFRESH_TOKEN"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/dataSources?limit=100&offset=0
  response:
    body:
      string: '{"total":1530,"data":[{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","primaryBusinessObject":{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},"alias":"trendedWorkers","description":"Accesses
        Worker as its primary business object and returns multiple rows of activity
        and snapshot data per worker. Only includes worker activity and snapshot data
        from the last 36 months and refreshes in the background at regular intervals.
        Prompts you for all organizations, planning, and more to filter the report
        results. All related objects are reported as of the Record Date. For operational
        reporting on workers that isn\u2019t trended, you can [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/dataSources?limit=100&offset=1000
  response:
    body:
      string: '{"total":1530,"data":[{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","alias":"jobProfileWorkerCompensationForPrimaryPosition","primaryBusinessObject":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"description":"Accessed
        the Worker as its Primary Object and returns one row per worker. Includes
        all active workers, Contains Built in prompt for Job Profiles. This data source
        can be used to build reports for workers constrained by Job Profiles. Helpful
        Tip: Only workers whose Primary Position matches the selected Job profiles
        are returned"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","alias":"allPublicServiceOperations","primaryBusinessObject":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"description":"Returns
        all the service operations encompassed by public services."},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","alias":"pro[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/dataSources/00000000000000000000000000000000
  response:
    body:
      string: '{"id":"00000000000000000000000000000000","descriptor":"Mock Descriptor","description":"Accesses
        the Worker as its primary object and returns one row per worker. This data
        source will show all active and terminated workers, regardless of contextual
        security. Includes all workers even workers to be hired in the future. Doesn''t
        contain any built-in prompts. This data source can be used to build reports
        on all workers. Helpful Tips: 1) If the worker is hired in the future, all
        fields will be returned based on the effective date. 2) If no effective date
        is specified, the system will use the current date as the effective date.
        3) If the effective date is less than the worker''s hire date, no effective
        dated information (such as position information, compensation information
        and so on) will be returned. 4) If effective dated behavior is desired, use
        the All Active and Terminated Workers data source instead.","filterIsRequired":false,"alias":"allWorkers","supportsEntryDate":true,"supportsEffectiveDate":true,"primaryBusinessObject":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WD-RateLimit-Tokens-Remaining:
      - '3599'
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/dataSources/00000000000000000000000000000000/fields?limit=50&offset=0
  response:
    body:
      string: '{"total":3911,"data":[{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","type":"Text","alias":"cf_PrimaryAddressHomeStateText"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","type":"Currency","alias":"cf_TotalBasePayHourly_Amount"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","type":"Currency","alias":"cf_TotalBasePayAnnualizedInCAD_Amount"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","relatedBusinessObject":{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},"type":"Single
        instance","alias":"cf_RetirementEligibility"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","relatedBusinessObject":{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},"type":"Single
        instance","alias":"cf_LocationSiteHierarchyLevel2"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","relatedBusinessObject":{"[...]
- request:
    body: '{"query":"SELECT cf_PrimaryAddressHomeStateText, cf_TotalBasePayHourly_Amount,
      cf_TotalBasePayAnnualizedInCAD_Amount, cf_RetirementEligibility, cf_LocationSiteHierarchyLevel2
      FROM allWorkers LIMIT 5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/data
  response:
    body:
      string: '{"total":5,"data":[{"cf_PrimaryAddressHomeStateText":"California","cf_TotalBasePayHourly_Amount":{"value":"103.57","currency":"USD"},"cf_TotalBasePayAnnualizedInCAD_Amount":{"value":"294475.16","currency":"CAD"},"cf_RetirementEligibility":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"cf_LocationSiteHierarchyLevel2":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}},{"cf_PrimaryAddressHomeStateText":"California","cf_TotalBasePayHourly_Amount":{"value":"175.08","currency":"USD"},"cf_TotalBasePayAnnualizedInCAD_Amount":{"value":"497775.32","currency":"CAD"},"cf_RetirementEligibility":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"cf_LocationSiteHierarchyLevel2":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}},{"[...]
[...]
- request:
    body: '{"query":"SELECT classOfInstance1, workdayID, createdMoment, lastFunctionallyUpdated,
      currentOMSVersion FROM oAuth20RefreshTokenDataSource LIMIT 5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/data
  response:
    body:
      string: '{"total":5,"data":[{"classOfInstance1":{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},"createdMoment":"2013-05-20T19:56:11.552Z","currentOMSVersion":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}},{"classOfInstance1":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"createdMoment":"2013-05-20T19:56:42.261Z","currentOMSVersion":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}},{"classOfInstance1":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"createdMoment":"2013-05-31T20:12:45.357Z","currentOMSVersion":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}},{"classOfInstance1":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"createdMoment":"2013-06-08T21:14:35.719Z","currentOMSVersion":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}},{"classOfInstance1":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"createdMoment":"2014-02-26T18:35:22.629Z","currentOMSVersion":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WD-RateLimit-Tokens-Remaining:
      - '3599'
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/dataSources/00000000000000000000000000000000
  response:
    body:
      string: '{"id":"00000000000000000000000000000000","descriptor":"Mock Descriptor","requiredParameters":[{"alias":"toMoment","type":"Date","label":"To
        Moment"},{"alias":"fromMoment","type":"Date","label":"From Moment"}],"primaryBusinessObject":{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},"supportsEntryDate":false,"supportsEffectiveDate":false,"filterIsRequired":true,"description":"Accesses
        System Account Signon as the primary object and returns one row for each signon.
        Includes all successful, failed, and unidentified signons as well as information
        regarding a user''s signon activity. Does not contain built-in prompts. This
        data source will show user authentication per tenant and the reasons for failure.","alias":"allSystemAccountSignons","dataSourceFilters":[{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","alias":"currentWorkdaySystemAccountSignonsInRange","description":"Filters
        for the Current System Account ONLY"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","alias":"workdaySystemAccountSignonsInRange"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","description":"Supplier System User''s Signons and attempted signons.
        (Does not include signon attempts from invalid supplier users.)","alias":"supplierSystemUserSignonsInRange"},{"id":"00000000000000000000000000000000","descriptor":"Mock
        Descriptor","alias":"candidateSystemUserSignonsInRange","description":"Candidate
        System User''s Signons and attempted signons. (Does not include signon attempts
        from invalid candidate users.)"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      WD-RateLimit-Tokens-Remaining:
      - '3599'
      wd-stat-request-id:
      - 00000000-0000-0000-0000-000000001111
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query":"SELECT classOfInstance1, webServiceOperation, WSDLFileName, webService,
      documentation FROM publicWebServices LIMIT 5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/data
  response:
    body:
      string: '{"total":5,"data":[{"classOfInstance1":{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},"webServiceOperation":[{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descripto[...]
[...]
- request:
    body: '{"query":"SELECT cf_DomainSecurityPolicy, cf_ReportFieldAccess, cf_SecurityGroupName,
      classOfInstance1, cf_SettlementAccess_Payroll FROM allSecurityGroups LIMIT 5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/data
  response:
    body:
      string: '{"total":5,"data":[{"cf_DomainSecurityPolicy":[{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"}],"cf_ReportFieldAccess":[{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descripto[...]
[...]
- request:
    body: '{"query":"SELECT cf_AuthorizedWorkers, classOfInstance1, cf_LastUpdatedMonth,
      cf_HasReportTag, cf_IsMobileReport FROM allCustomReports LIMIT 5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://wd2-impl-services1.workday.com/ccx/api/wql/v1/mocktenant_xx/data
  response:
    body:
      string: '{"total":5,"data":[{"cf_AuthorizedWorkers":[{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock
        Descriptor","id":"00000000000000000000000000000000"},{"descriptor":"Mock Descriptor","id":[...]
